.about
    width 100%
    margin-bottom 50px
    padding 0 70px
    +below(768px)
        padding 0 20px

.aboutHeader
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal

.aboutContent
    margin 0 10% 45px !important
    +below(768px)
        margin 0 0 45px !important
    h3
        margin-bottom 35px
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
    p
        margin-bottom 15px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 22px

.aboutPreferences
    box horizontal top
    margin-bottom 45px
    flex-wrap wrap

.aboutPreference
    lost-column 1 / 3 3 flex
    +below(768px)
        lost-column 1 / 1 1 flex
        margin-bottom 24px
        &:last-child
            margin-bottom 0

.aboutPreferenceHeader
    display inline-block
    margin-bottom 10px
    border-bottom 2px solid #000
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.aboutPreferenceText
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px

.aboutCatalogBlock
    height 500px
    margin-bottom 40px
    background-color #f5f5f5
    background-size cover
    background-repeat no-repeat
    +below(768px)
        width calc(100% + 40px)
        height auto
        margin-left -20px
        padding 40px 0
        background-image none

.aboutCatalogBlockContent
    box vertical middle left
    width 55%
    height 100%
    margin-left 10%
    +below(768px)
        width 100%
        margin-left 0
        padding 0 30px

.aboutCatalogBlockHeader
    display inline-block
    margin-bottom 31px
    border-bottom 2px solid #000
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.aboutCatalogBlockText
    margin-bottom 31px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px

.aboutCatalogs
    box horizontal top
    padding-left 40px
    flex-wrap wrap
    +below(768px)
        padding-left 0

.aboutCatalog
    box vertical top center
    margin-right 91px
    margin-bottom 24px
    text-decoration none
    img
        margin-bottom 20px
    span
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px

.aboutBuy
    margin-top 30px
    margin-bottom 40px
    padding 47px 60px 0 110px
    background-color #f5f5f5
    +below(1000px)
        padding 47px 60px 0
    +below(768px)
        padding 47px 20px 0

.aboutBuyHeader
    display inline-block
    margin-bottom 31px
    border-bottom 2px solid #000
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.aboutBuyItems
    box horizontal top
    flex-wrap wrap

.aboutBuyItem
    lost-column 1 / 4 4 50px flex
    box vertical middle center
    margin-bottom 50px
    +below(1000px)
        lost-column 1 / 3 3 50px flex
    +below(600px)
        lost-column 1 / 1 1 30px flex