.filter
    box vertical top left
    width 100%
    margin-bottom 16px
    +below(768px)
        display none

.filterItems
    box horizontal top
    position relative
    width 100%
    flex-wrap wrap

.filterItem
    height 40px
    margin-right 6px
    margin-bottom 5px
    padding 0 20px
    border 1px solid #f0f0f2
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 41px
    text-transform uppercase
    cursor pointer
    transition all 0
    &Text
        box horizontal middle
        position relative
        span
            margin-right 18px
        &:after
            display block
            position absolute
            bottom -4px
            left -21px
            opacity 0
            visibility hidden
            background-color #f0f0f2
            content ''
            transition all .4s
            size calc(100% + 42px) 6px
            transition-delay .1s
    .svg
        box vertical middle center
        margin-top -2px
        transition all .4s
        transform rotate(90deg)
        size 18px
        svg
            size 18px
    &.filterItemActive
        margin-bottom 93px
        background-color #f0f0f2
        .filterItemText
            .svg
                transform rotate(-90deg)
            &:after
                opacity 1
                visibility visible
        .filterItemDropdown
            opacity 1
            visibility visible
            pointer-events all
            transition all 0

.filterItemIcon
    &.filterItemActive
        margin-bottom 213px
        background-color #f0f0f2

.filterItemDropdown
    box horizontal middle
    position absolute
    top 45px
    left 0
    width 100%
    min-height 84px
    z-index 200
    opacity 0
    visibility hidden
    padding 30px 34px
    background-color #f0f0f2
    pointer-events none
    cursor default
    transition all .4s
    transition-delay .1s
    flex-wrap wrap
    +below(768px)
        display none

.filterItemDropdownIcons
    min-height 203px

.filterItemDropdownItem
    position relative
    margin-right 15px
    padding 22px 15px 15px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    text-decoration none
    transition all .4s
    &:last-child
        margin-right 0
    &:before
        display block
        position absolute
        top 15px
        left 15px
        background-color #000
        content ''
        transition all .4s
        size calc(100% - 30px) 1px
    &:hover
        background-color #f5f5f5
    &Active
        background-color lighten(#f5f5f5, 50%)
        color #44c8f5
        &:before
            background-color #44c8f5

.filterItemDropdownItemIcon
    box vertical top center
    position relative
    min-width 123px
    margin-right 14px
    padding 15px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    text-decoration none
    transition all .4s
    &:last-child
        margin-right 0
    svg
        width auto
        height 60px
        max-width 60px
        margin-bottom 20px
        transform none
    span
        position relative
        width 100%
        padding-top 7px
        &:before
            display block
            position absolute
            top 0
            background-color #000
            content ''
            transition all .4s
            size 100% 1px
    &:hover
        background-color #f5f5f5
    &Active
        background-color lighten(#f5f5f5, 50%)
        color #44c8f5
        svg
            fill #44c8f5
        span
            &:before
                background-color #44c8f5

.filterSelected
    box horizontal middle
    transition all .4s
    flex-wrap wrap

.filterSelectedItem
    height 32px
    margin-right 5px
    margin-bottom 5px
    padding 0 27px
    background-color #f5f5f5
    color #6d6e71
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 32px
    cursor pointer
    transition all .4s
    &:hover
        background-color #87dbff
        color #fff

.filterSelectedClear
    box horizontal middle
    height 32px
    margin-right 5px
    margin-bottom 5px
    padding 0 27px 0 10px
    color #6d6e71
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 14px
    cursor pointer
    transition all .4s
    span
        display block
        padding-top 1px
    svg
        margin-right 10px
        size 7px
    &:hover
        background-color #f5f5f5