.catalog
    width 100%
    padding 0 70px
    +below(768px)
        padding 0
    .pagination
        +below(768px)
            width calc(100% - 40px)
            margin-left 20px

.catalogGrid
    box vertical top

.catalogSection
    box vertical top
    margin-bottom 70px

.catalogSectionHeader
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    +below(768px)
        width calc(100% - 40px)
        margin-left 20px
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal

.catalogSectionSubheader
    +below(768px)
        width calc(100% - 40px)
        margin-left 20px
    h2
        margin-bottom 40px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.catalogSectionContent
    width 100%
    margin-bottom 50px

.catalogSectionFooter
    box horizontal middle center
    width 100%
    .buttonBlueMore
        margin-right 16px

.catalogRow
    box horizontal top
    position relative
    height 308px
    +below(1310px)
        height auto
    +below(960px)
        box vertical top

.catalogDoubleRow
    box horizontal top
    position relative
    height 616px
    +below(1310px)
        height auto
    +below(960px)
        box vertical top

.catalogCellTwo
    lost-column 2 / 12 2 0 flex
    position relative
    height 100%
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.catalogCellThird
    lost-column 1 / 3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.catalogCellSeventh
    lost-column 7 / 12 2 0 flex
    position relative
    height 100%
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.catalogCellFifth
    lost-column 5 / 12 2 0 flex
    position relative
    height 100%
    margin 0 !important
    &Vertical
        box vertical
        .cardProduct
            max-height 308px
            +below(960px)
                max-height 9999px
    +below(960px)
        lost-column 1 / 1 1 0 flex

.catalogCellSixth
    lost-column 1 / 2 2 0 flex
    position relative
    max-height 100%
    margin 0 !important
    align-self stretch
    &Vertical
        box vertical top left
        .cardProduct
            max-height 308px
            +below(960px)
                max-height 9999px
    +below(960px)
        lost-column 1 / 1 1 0 flex

.catalogCellFourth
    lost-column 5 / 12 2 0 flex
    position relative
    height 100%
    margin 0 !important
    &Vertical
        box vertical
        .cardProduct
            max-height 308px
            +below(960px)
                max-height 9999px
    +below(960px)
        lost-column 1 / 1 1 0 flex