.filterMobileButton
    display none
    +below(768px)
        display block
        margin-bottom 20px
        padding 0 20px
        button
            width 100%

.filterItems
    width calc(100% + 40px)
    margin-bottom 40px
    margin-left -20px
    .filterMenu
        +below(767px)
            height auto
            max-height 1px
            overflow hidden
            transition max-height .4s
        &.active
            +below(767px)
                max-height 999px
                padding-bottom 20px
        &:focus
            outline 0

.filterMenu
    box vertical top left
    width 100%
    margin-bottom 35px
    padding 0 20px
    transition max-height .4s
    &.active
        background-color #f0f0f2
    +below(767px)
        margin-bottom 0

.filterMenuHeader
    display inline-block
    position relative
    width auto
    min-height 23px
    margin-bottom 26px
    padding 0 20px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    text-decoration none
    transition all .4s
    svg
        display none
        transition all .4s
    +below(767px)
        box horizontal middle space-between
        width 100%
        margin-bottom 0
        padding 10px 20px
        svg
            display block
            margin-right 20px
            transform rotate(-90deg)
            size 20px
            stroke #878786
        &:after
            display none
    &.active
        background-color #f0f0f2
        +below(767px)
            color #44c8f5 !important
            svg
                transform rotate(90deg)
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        transition all .4s
        size 100% 2px
    &:hover
        color #44c8f5
        +below(767px)
            color #000
        &:after
            background-color #44c8f5

.filterMenuItem
    position relative
    width 100%
    margin-bottom 15px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    text-decoration none
    &.active
        color #44c8f5

#modal_filter
    .buttonBlueMedium
        width 100%