.pagination
    box vertical top left
    margin-bottom 69px

.paginationButton
    box horizontal middle left
    margin-bottom 28px
    +below(400px)
        flex-wrap wrap

.paginationButtonPrev
    box horizontal middle
    height 44px
    padding 0 22px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 44px
    text-decoration none
    transition all .4s
    +below(400px)
        padding 0 0
    svg
        margin-right 25px
        transition all .4s
        size 14px
        fill #000
        +below(400px)
            margin-right 16px
    &:hover
        background-color #f5f5f5
        svg
            fill #777

.paginationButtonNext
    box horizontal middle
    height 44px
    padding 0 22px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 44px
    text-decoration none
    transition all .4s
    +below(400px)
        padding 0 16px
        align-self flex-end
    svg
        margin-left 25px
        transition all .4s
        fill #000
        size 14px
        +below(400px)
            margin-left 16px
    &:hover
        background-color #f5f5f5
        svg
            fill #777

.paginationItem
    box horizontal middle left
    &Active
        background-color #44c8f5
        color #fff !important
    a,
    span
        box vertical middle center
        margin-right 5px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 300
        line-height 16px
        text-decoration none
        size 30px
        &:hover
            background-color #f5f5f5
