.collection
    width 100%
    padding 0 70px
    +below(768px)
        padding 0 20px

.collectionGrid
    box vertical top

.collectionSection
    box vertical top
    margin-bottom 70px

.collectionSectionHeader
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal

.collectionSectionContent
    width 100%
    margin-bottom 50px

.collectionSectionFooter
    box horizontal middle center
    width 100%
    .buttonBlueMore
        margin-right 16px

.collectionSubscripe
    margin-bottom 50px

.collectionRow
    position relative
    height 308px
    lost-flex-container row
    +below(960px)
        height auto

.collectionBigRow
    position relative
    height 473px
    lost-flex-container row
    +below(960px)
        height auto

.collectionDoubleRow
    position relative
    height 616px
    lost-flex-container row

.collectionCellTwo
    lost-column 2 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.collectionCellThird
    lost-column 1 / 3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.collectionCellSeventh
    lost-column 7 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.collectionCellSixth
    lost-column 1 / 2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1 / 1 1 0 flex

.collectionCellFourth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex
    &Vertical
        box vertical

.collectionCellFifth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex
    &Vertical
        box vertical
