.modal#modal_cart
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2 Товар добавлен в корзину
        p Вы можете перейти в корзину или продолжить покупки
    .modalForm
        .modalFormRow
            a(href="#").buttonBlueMedium Корзина
            button.buttonSimpleText.js-modal-close Продолжить покупки

