.breadcrumbs
    box horizontal middle
    display block
    width 100%
    padding 0 70px
    flex-wrap wrap
    +below(768px)
        padding 0 20px
    a
        height 32px
        margin-right 5px
        margin-bottom 6px
        padding 0 27px
        background-color #f5f5f5
        color #6d6e71
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 32px
        text-decoration none
        transition all .4s
        white-space nowrap
        &:hover
            background-color #87dbff
            color #fff