@reset-global pc
*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -webkit-overflow-scrolling touch
    -webkit-appearance none

@font-face
    font-family 'PTRoubleDecorative'
    font-style normal
    font-weight 400
    src url('../fonts/PTRoubleDecorative.woff') format('woff')

@font-face
    font-family 'graphik'
    font-style normal
    font-weight 200
    src url('../fonts/graphik/Graphik-Extralight-Web.woff') format('woff'), url('../fonts/graphik/Graphik-Extralight-Web.woff2') format('woff2')

@font-face
    font-family 'graphik'
    font-style normal
    font-weight 300
    src url('../fonts/graphik/Graphik-Light-Web.woff') format('woff'), url('../fonts/graphik/Graphik-Light-Web.woff2') format('woff2')

@font-face
    font-family 'graphik'
    font-style normal
    font-weight 600
    src url('../fonts/graphik/Graphik-Semibold.woff') format('woff'), url('../fonts/graphik/Graphik-Semibold.woff2') format('woff2')

@font-face
    font-family 'decima'
    font-style normal
    font-weight 400
    src url('../fonts/decima/decimamonox-webfont.woff') format('woff'), url('../fonts/decima/decimamonox-webfont.woff2') format('woff2')

a:focus
    outline 0

html
    width 100%
    height 100%
    min-width 100%
    // min-width 1280px
    font-size 16px

body
    position relative
    width 100%
    width 100%
    min-width 100%
    min-height 100%
    font-family 'graphik', Arial, Helvetica, sans-serif
    -webkit-text-size-adjust none

.wrapper
    width 100%
    max-width 100%
    max-width 1600px
    margin 0 auto

input[type=text],
input[type=submit],
textarea
    -webkit-appearance none-webkit-appearance none