.productInstagramm
    display block
    margin-bottom 45px

.productInstagrammHeader
    width 100%
    margin-bottom 35px
    border-bottom 2px solid #000000
    h2
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.productInstagrammContent
    box horizontal
    display block
    min-height 300px
    flex-wrap wrap
    +below(600px)
        width calc(100% + 40px)
        margin-left -20px

.productInstagrammItem
    lost-column 1 / 2 2 20px flex
    +below(1000px)
        lost-column 1 / 2 1 0 flex
    +below(600px)
        lost-column 1 / 1 1 0 flex
        iframe
            width 310px !important
            margin-left 5px !important

.productBlock
    display block
    margin-bottom 45px

.productBlockHeader
    width 100%
    margin-bottom 35px
    border-bottom 2px solid #000000
    h2
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.productBlockContent
    margin-bottom 25px