.productBottom
    box horizontal top
    margin-bottom 58px
    flex-wrap wrap

.productDescription
    lost-column 1 / 2 2 0 flex
    +below(1180px)
        width 100%
        margin-bottom 20px

.productDescriptionText
    margin-bottom 40px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px

.productDescriptionPresent
    box horizontal middle left
    &Icon
        margin-right 13px
        svg
            size 25px
    &Text
        color #000
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase

.productFavoriteReviews
    lost-column 1 / 2 2 0 flex
    box vertical top right
    +below(1180px)
        box vertical top left
        width 100%

.productFavoriteReview
    margin-bottom 29px

.productFavoriteReviewText
    display block
    position relative
    margin-bottom 25px
    padding 15px 26px
    // background-image url('../img/favoritereview-background.png')
    background-color #fff
    background-repeat no-repeat
    border 1px solid #eee
    color #90908f
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    size 255px auto
    &:after
        display block
        position absolute
        bottom -13px
        left 10px
        background-color #fff
        content ''
        border 1px solid #eee
        size 30px 20px
        clip-path polygon(100% 38%, 0 38%, 0 100%)

.productFavoriteReviewAuthor
    box horizontal middle left
    &Icon
        margin-right 11px
        svg
            size 18px
            fill #44c8f5
    &Text
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 14px

.productFavoriteReviewButton
    margin-right 110px