.productBundle
    display block
    margin-bottom 45px

.productBundleHeader
    width 100%
    margin-bottom 35px
    border-bottom 2px solid #000000
    h2
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.productBundleItems
    box horizontal middle left
    flex-wrap wrap

.productBundleItemsFour
    .productBundleItem
        lost-column 1 / 5 4 0 flex
        +below(1024px)
            lost-column 1 / 2 2 0 flex
            &:last-child
                lost-column 1 / 1 1 0 flex
        +below(600px)
            lost-column 1 / 1 1 0 flex
            &:last-child
                lost-column 1 / 1 1 0 flex
        img
            width 100%
    .productBundleFinal
        +below(1024px)
            padding 24px 30px
        .productBundleFinalDescription
            +below(1024px)
                margin-bottom 20px
    .productBundleItemEqual
        &:after
            +below(1024px)
                display block
                top calc(100% - 32px)
                right auto
                left -32px

.productBundleItem
    lost-column 1 / 4 4 0 flex
    position relative
    align-self stretch
    +below(1024px)
        lost-column 1 / 2 2 0 flex
    +below(600px)
        lost-column 1 / 1 1 0 flex
    .cardProduct
        padding-right 0
        padding-bottom 0
        padding-left 0
        +below(1024px)
            padding-bottom 20px
    &Plus
        &:after
            display block
            position absolute
            top calc(50% - 32px)
            right -32px
            z-index 10000
            background-color #f5f5f5
            background-image inline('icon-bundle-plus.svg')
            background-size 26px
            background-repeat no-repeat
            content ''
            border-radius 32px
            background-position center center
            size 64px
            +below(1024px)
                top calc(100% - 32px)
                &:nth-child(2n)
                    &:after
                        display none
                &:nth-child(3n)
                    &:after
                        display none
        +below(600px)
            &:nth-child(2n),
            &:nth-child(3n)
                &:after
                    display block
            &:after
                right auto
                left -32px
    &Equal
        &:after
            display block
            position absolute
            top calc(50% - 32px)
            right -32px
            z-index 10000
            background-color #f5f5f5
            background-image inline('icon-bundle-equal.svg')
            background-size 26px
            background-repeat no-repeat
            content ''
            border-radius 32px
            background-position center center
            size 64px
            +below(1024px)
                display none
            +below(600px)
                display block
                top calc(100% - 32px)
                right auto
                left -32px

.productBundleFinal
    box vertical middle
    min-width 265px
    min-height 100%
    padding 0 37px 0 37px
    background-color #44c8f5
    size 100%
    +below(600px)
        padding 24px 30px

.productBundleFinalName
    position relative
    margin-bottom 30px
    color #fff
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    &:after
        display block
        position absolute
        bottom -5px
        left 0
        background-color #fff
        content ''
        size 100% 2px

.productBundleFinalDescription
    margin-bottom 70px
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px

.productBundleFinalPrice
    box horizontal middle left
    margin-bottom 50px
    &Sale,
    &Value
        position relative
        padding 0 15px
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight 300
        line-height 20px
        white-space nowrap
    &Sale
        margin-right 16px
        &:after
            position absolute
            top calc(50% + 1px)
            left 0
            background-color #fff
            content ''
            size 100% 2px

.productBundleAddCart
    box horizontal middle left
    display inline-flex !important
    height 40px
    padding 3px 29px 0
    background-color #f5f5f5
    cursor pointer
    transition all .4s
    &Icon
        margin-right 15px
        size 21px
        svg
            transition all .4s
            size 21px
    &Text
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 41px
        text-transform uppercase
        transition all .4s
        white-space nowrap
    &:hover
        background-color #87dbff
        .productBundleAddCartIcon
            svg
                fill #fff
        .productBundleAddCartText
            color #fff
