.productHeader
    width 100%
    margin-bottom 26px
    border-bottom 2px solid #000000
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.productTypes
    box horizontal middle
    margin-bottom 30px
    flex-wrap wrap

.productType
    box horizontal middle
    margin-right 50px
    margin-bottom 12px

.productTypeIcon
    margin-right 8px
    size 22px
    svg
        size 22px

.productTypeText
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400