.productDiagnostic
    box vertical top left
    +below(1040px)
        margin-bottom 20px

.productDiagnosticHeader
    position relative
    margin-bottom 18px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    &:after
        display block
        position absolute
        bottom -3px
        left 0
        background-color #000
        content ''
        size 100% 2px

.productDiagnosticText
    margin-bottom 24px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 28px
