.productFooterSocial
    box horizotnal middle space-between
    +below(768px)
        box vertical top left

.productFooterSocialText
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    +below(768px)
        margin-bottom 11px

.productFooterSocialLinks
    box horizontal middle right
    +below(768px)
        box horizontal middle left

.productFooterSocialLink
    margin-left 29px
    +below(768px)
        margin-right 29px
        margin-left 0
    svg
        transition all .4s
        size 18px
        fill #000
    &:hover
        svg
            fill #44c8f5

.productFooterImage
    display block
    width 100%
    height 112px
    margin-bottom 55px
    background-size cover
    background-repeat no-repeat
    background-position center center
    +below(768px)
        width calc(100% + 40px)
        margin-left -20px