.productImages
    box vertical top left

.productImageSlider
    width 100%
    height 400px

.productImageSlide
    box vertical middle center
    background-color #fff
    img
        height 80%

.productImageSliderThumbContainer
    display block
    position relative
    width 100%

.productImageSliderThumbs
    // box horitzontal middle left
    width 540px
    margin 0 auto
    padding 20px 0
    +below(1715px)
        width 432px
    +below(1300px)
        width 324px
    +below(1040px)
        width 432px
    +below(768px)
        width 324px
    +below(600px)
        width 216px

.productImageSliderThumb
    box vertical middle center
    position relative
    max-width 108px
    min-width 108px
    cursor pointer
    size 108px
    .productImageSliderThumbImage
        opacity .3
        transition opacity .4s
        img
            height 70px
    &:hover
        .productImageSliderThumbImage
            opacity 1

.productImageSliderThumbs
    .swiper-slide-active
        border 3px solid #f5f5f5
        .productImageSliderThumbImage
            opacity 1
        &:after
            triangle right-iso pointing-up
            display block
            position absolute
            top -8px
            left calc(50% - 8px)
            width 16px
            background-color #f5f5f5
            content ''

.productImageSliderThumbLeft
    display block
    position absolute
    top 63px
    left 10px
    svg
        size 22px
        fill #c6c6c6
    +below(1410px)
        left 0

.productImageSliderThumbRight
    display block
    position absolute
    top 63px
    right 40px
    transform rotate(180deg)
    svg
        size 22px
        fill #c6c6c6
    +below(1410px)
        right 20px

.productRelatedVideo
    box vertical top left
    margin-bottom 125px
    +below(1040px)
        margin-bottom 20px

.productRelatedVideoItem
    box horizontal middle left
    margin-bottom 20px
    text-decoration none
    &Icon
        margin-right 17px
        svg
            fill #44c7f4
            size 30px
    &Text
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px
        transition all .4s
    &:hover
        .productRelatedVideoItemText
            color #44c7f4