.product
    width 100%
    margin-bottom 50px
    padding 0 70px
    +below(768px)
        padding 0 20px

.productGrid
    box vertical top

.productWrap
    box horizontal top
    margin-bottom 100px
    +below(1040px)
        box vertical top

.productLeft
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(1040px)
        lost-column 1 / 1

.productRight
    lost-column 7 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(1040px)
        lost-column 1 / 1

.productContent
    padding 35px 50px
    background-color #f5f5f5
    +below(768px)
        width calc(100% + 40px)
        margin-left -20px
        padding 35px 30px
    +below(1040px)
        .productHeader
            display none

.productSection
    box vertical top
    margin-bottom 70px

.productHeaderMobile
    display none
    width 100%
    margin-bottom 10px
    +below(1040px)
        display block

.productSectionHeader
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal

.productSectionContent
    width 100%
    margin-bottom 50px

.productSectionFooter
    box horizontal middle center
    width 100%
    .buttonBlueMore
        margin-right 16px

.productSubscripe
    margin-bottom 50px

.productRow
    position relative
    height 308px
    lost-flex-container row

.productBigRow
    position relative
    height 473px
    lost-flex-container row

.productDoubleRow
    position relative
    height 616px
    lost-flex-container row

.productCellTwo
    lost-column 2 / 12 2 0 flex
    position relative
    margin 0 !important

.productCellThird
    lost-column 1 / 3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important

.productCellSeventh
    lost-column 7 / 12 2 0 flex
    position relative
    margin 0 !important

.productCellSixth
    lost-column 1 / 2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

.productCellFourth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

.productCellFifth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
