.productMultiPrices
    display block
    .productPriceBuy
        margin-bottom 49px
        padding 15px 20px
        background-color #fff

.productMultiPriceItem
    box horizontal middle space-between
    margin-bottom 50px
    +below(600px)
        box vertical top right

.productMultiPriceItemImage
    box vertical middle center
    flex 0 1 auto
    width 100px
    max-width 100px
    min-width 100px
    padding 0 20px
    +below(600px)
        margin-bottom 10px
    img
        height 100px

.productMultiPriceItemName
    box vertical top right
    h4
        padding-bottom 5px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
        text-align right
    span
        padding-bottom 17px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px
        text-align right

.productMultiPriceItemPrices
    box horizontal middle right
    flex-wrap wrap
    +below(1000px)
        box vertical top right

.productMultiPriceItemPrice
    box horizontal middle right
    +below(600px)
        flex-wrap wrap

.productMultiPriceItemPriceSale
    position relative
    margin-right 36px
    margin-bottom 10px
    padding 0 10px
    color rgba(#000, .5)
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 20px
    line-height 20px
    white-space nowrap
    +below(600px)
        margin-right 0
    &:after
        position absolute
        top calc(50% + 1px)
        left 0
        background-color rgba(#000, .5)
        content ''
        size 100% 1.5px

.productMultiPriceItemPriceValue
    position relative
    margin-right 36px
    margin-right 36px
    margin-bottom 10px
    padding 0 10px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 20px
    line-height 20px
    white-space nowrap
    +below(600px)
        margin-right 0

.productMultiPriceQty
    box horizontal middle center
    flex 0 1 auto
    width 111px
    min-width 111px
    margin-bottom 10px
    +below(1000px)
        box horizontal middle right
    +below(600px)
        flex 1 1 100%
        width 100%
        min-width 100px

.productMultiPriceQtyMinus
    box vertical middle center
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 16px
    svg
        transition all .4s
        size 8px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.productMultiPriceQtyText
    width 30px
    text-align center
    input
        width 30px
        background-color transparent
        border 0
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 40px
        text-align center

.productMultiPriceQtyPlus
    box vertical middle center
    margin-right 7px
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 16px
    svg
        transition all .4s
        size 8px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.productMultiPriceItemPriceAddCart
    box horizontal middle
    margin-bottom 10px
    .productPriceAddCart
        display inline-flex
        margin-bottom 0
    .productPriceAddWish
        width 27px
        margin-bottom 0
        padding 0
    .productPriceAddWishIcon
        margin-right 0