.productTabs
    display block
    position relative
    width 100%
    min-height 280px
    margin-bottom 25px

.productTabControls
    box horizontal middle left
    margin-bottom 16px

.productTabButtonWrap
    width auto
    z-index 10

.productTabButton
    display inline-block
    position relative
    // width auto
    height 40px
    z-index 20
    padding 1px 28px 0
    background-color #fff
    pointer-events all
    border 0
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 40px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    white-space nowrap
    &:hover
        background-color #44c8f5
        color #fff

.productTabButton.active
    background-color #000
    color #fff
    cursor default

.productTabPanels
    position relative
    min-height 200px

.productTabPanel
    transition all .4s
    p
        max-width 1000px
        margin 0
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px
    table
        width 100%
        +below(768px)
            box vertical top
        td
            vertical-align top
            padding 17px 24px
            border-bottom 1px solid #f4f4f4
            color #000
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-size 14px
            font-weight 400
            line-height 24px
            +below(768px)
                flex 0 1 auto
                display flex

.productTabPanelCollapse
    position relative
    max-height 110px
    overflow hidden
    margin-bottom 20px
    transition all .3s
    &.active
        max-height 9999px
    &:focus
        outline 0

.productTabPanelCollapseButton
    box horizontal middle center
    position relative
    width auto
    transition all .4s
    &:after
        display block
        position absolute
        top -80px
        z-index 10
        background linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%)
        content ''
        transition all .4s
        size 100% 60px
    .svg
        transition all .4s
        transform rotate(-90deg)
        svg
            size 25px
    &.active
        .svg
            transform rotate(90deg)
        &:after
            opacity 0

.productReviews
    box vertical top left

.productReview
    box horizontal top left
    margin-bottom 39px

.productReviewAvatar
    box vertical middle center
    flex 1 1 50px
    min-width 50px
    margin-right 25px
    background-color #f5f5f5
    size 50px
    +below(600px)
        min-width 40px
        margin-right 15px
        size 40px
    svg
        size 22px
    img
        size 50px

.productReviewContent
    box vertical top left
    flex 1 1 auto

.productReviewDate
    margin-bottom 10px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    +below(600px)
        margin-bottom 5px

.productReviewAuthor
    margin-bottom 18px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    +below(600px)
        margin-bottom 11px

.productReviewText
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px

.productReviewPhoto
    box vertical middle center
    flex 1 1 110px
    min-width 110px
    margin-left 25px
    size 110px
    img
        height 110px
    +below(600px)
        display none

.productReviewForm
    padding 46px 38px
    background-color #f8f8f8
    +below(600px)
        width calc(100% + 40px)
        margin-left -20px
        padding 46px 20px

.productReviewFormHeader
    margin-bottom 35px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 30px
    font-weight 600
    line-height 36px

.productReviewFormContent
    margin-bottom 25px

.productReviewFormSubmits
    box horizontal middle left
    .buttonBlueMedium
        margin-right 15px
        +below(500px)
            margin-bottom 15px
    +below(500px)
        box vertical top left

.productReviewFormFile
    box horizontal middle left
    padding-right 20px
    cursor pointer
    &Icon
        box vertical middle center
        margin-right 13px
        background-color #fff
        size 40px
        svg
            size 15px
            fill #44c8f5
    &Text
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 41px
        text-transform uppercase
        white-space nowrap