.productTop
    box horizontal top space-between
    width 100%
    margin-bottom 36px
    +below(1280px)
        box vertical top left
        margin-bottom 11px

.productStarReview
    box vertical top left

.productStars
    box horizontal middle left
    margin-bottom 10px

.productStar
    margin-right 10px
    svg
        transition all .2s
        size 17px
        fill #44c7f4
        stroke #44c7f4
        stroke-width 2px
    &Empty
        svg
            fill none
            stroke #000
            stroke-width 2px
    &:hover
        svg
            fill #44c7f4
            stroke #44c7f4
            stroke-width 2px

.productStarReviewText
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    +below(1280px)
        margin-bottom 11px

.productCurrentView
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px