.choices
    position relative
    margin-bottom 24px
    font-size 16px
    &:focus
        outline none
    &:last-child
        margin-bottom 0
    &.is-disabled
        .choices__item
            cursor not-allowed

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input
    background-color #EAEAEA
    cursor not-allowed
    user-select none

.choices[data-type*='select-one']
    cursor pointer
    .choices__inner
        padding-bottom 7.5px
    .choices__input
        display block
        width 100%
        margin 0
        padding 10px
        background-color #FFFFFF
        border-bottom 1px solid #f0f0f2
    .choices__button
        position absolute
        top 50%
        right 0
        width 20px
        height 100%
        height 20px
        opacity .5
        margin-top -10px
        margin-right 25px
        padding 0
        background-image url('../../icons/cross-inverse.svg')
        background-size 8px
        border-radius 10em
        // &:focus
        // box-shadow 0 0 0 2px #00BCD4

.choices[data-type*='select-one'] .choices__button:hover,
.choices[data-type*='select-one'] .choices__button:focus
    opacity 1

.choices[data-type*='select-one']:after
    position absolute
    top 9px
    right 18px
    background-color transparent
    background-image inline('icon-select.svg')
    background-size 25px
    background-repeat no-repeat
    content ''
    transition all .2s
    size 25px

.choices[data-type*='select-one'].is-open
    &:after
        transform rotate(180deg)

.choices[data-type*='select-one'][dir='rtl']:after
    right auto
    left 11.5px

.choices[data-type*='select-one'][dir='rtl']
    .choices__button
        right auto
        left 0
        margin-right 0
        margin-left 25px

.choices[data-type*='select-multiple'] .choices__inner,
.choices[data-type*='text'] .choices__inner
    cursor text

.choices[data-type*='select-multiple'] .choices__button,
.choices[data-type*='text'] .choices__button
    display inline-block
    position relative
    width 8px
    opacity .75
    margin-top 0
    margin-right -4px
    margin-bottom 0
    margin-left 8px
    padding-left 16px
    background-image url('../../icons/cross.svg')
    background-size 8px
    border-left 1px solid #008fa1
    line-height 1

.choices[data-type*='select-multiple'] .choices__button:hover,
.choices[data-type*='select-multiple'] .choices__button:focus,
.choices[data-type*='text'] .choices__button:hover,
.choices[data-type*='text'] .choices__button:focus
    opacity 1

.choices__inner
    display inline-block
    vertical-align top
    width 100%
    height 41px
    overflow hidden
    padding 14px 20px
    border 1px solid #f0f0f2
    border-radius 0
    font-size 14px
    transition all .4s
    background-position right 8px center
    -webkit-appearance none
    &:hover
        background-color #f0f0f2

// .is-focused .choices__inner,
.is-open .choices__inner
    background-color #fff

.is-open
    .choices__inner
        border-bottom 0
        border-radius 0
    .choices__list--dropdown
        border-top 0
        // border-color #f0f0f2

.is-flipped
    &.is-open
        .choices__inner
            border-radius 0 0 2.5px 2.5px
    .choices__list--dropdown
        top auto
        bottom 100%
        margin-top 0
        margin-bottom -1px
        // border-radius .25rem .25rem 0 0

.choices__list
    margin 0
    padding-left 0
    list-style none

.choices__list--single
    display inline-block
    width 100%
    .choices__item
        width 100%

[dir='rtl']
    .choices__list--single
        padding-right 4px
        padding-left 16px
    .choices__list--multiple
        .choices__item
            margin-right 0
            margin-left 3.75px
    .choices__list--dropdown
        .choices__item
            text-align right
    .choices__input
        padding-right 2px
        padding-left 0

.choices__list--multiple
    display inline
    .choices__item
        display inline-block
        vertical-align middle
        margin-right 3.75px
        margin-bottom 3.75px
        padding 4px 10px
        background-color #00BCD4
        border 1px solid #f0f0f2
        border-radius 20px
        color #FFFFFF
        font-size 12px
        font-weight 500
        word-break break-all
        &.is-highlighted
            background-color #00a5bb
            border 1px solid #f0f0f2
    .choices__item[data-deletable]
        padding-right 5px

.is-disabled
    .choices__list--multiple
        .choices__item
            background-color #aaaaaa
            border 1px solid #919191

.choices__list--dropdown
    display none
    position absolute
    top 100%
    width 100%
    z-index 1
    overflow hidden
    margin-top -1px
    background-color #FFFFFF
    border 1px solid #f0f0f2
    word-break break-all
    &.is-active
        display block
    .choices__list
        position relative
        max-height 300px
        overflow auto
        will-change scroll-position
        overflow-scrolling touch
    .choices__item
        position relative
        padding 10px 20px
        font-size 14px
    .choices__item--selectable
        &.is-highlighted
            background-color #f2f2f2
            &:after
                opacity .5

@media (min-width: 640px)
    .choices__list--dropdown
        .choices__item--selectable
            padding-right 100px
            &:after
                position absolute
                top 50%
                right 10px
                opacity 0
                content attr(datatext)
                font-size 12px
                transform translateY(-50%)
    [dir='rtl']
        .choices__list--dropdown
            .choices__item--selectable
                padding-right 10px
                padding-left 100px
                text-align right
                &:after
                    right auto
                    left 10px

.choices__item
    cursor default

.choices__item--selectable
    cursor pointer

.choices__item--disabled
    opacity .5
    cursor not-allowed
    user-select none

.choices__heading
    padding 10px
    border-bottom 1px solid #f7f7f7
    color gray
    font-size 12px
    font-weight 600

.choices__button
    background-color transparent
    background-repeat no-repeat
    border 0
    text-indent -9999px
    cursor pointer
    appearance none
    background-position center
    &:focus
        outline none

.choices__input
    display inline-block
    vertical-align baseline
    max-width 100%
    margin-bottom 5px
    padding 4px 0 4px 2px
    background-color #f9f9f9
    border 0
    border-radius 0
    font-size 14px
    &:focus
        outline 0

.choices__placeholder
    opacity .5