.uiTextInputGroup
    display block
    position relative
    input,
    textarea
        width 100%
        background-color transparent
        border 0
        border-bottom 2px solid #000
        border-radius 0
        color #000
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 300
        line-height 20px
        text-transform uppercase
        transition all .4s
        -webkit-appearance none
    label
        display block
        position absolute
        top 0
        left 1px
        pointer-events none
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
        transition all .3s
        transform translate3d(0, 0, 0) scale(1)
        transform-origin left center
    span
        display none
        position absolute
        color #989898
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400
        line-height 28px

.uiTextInputGroupFocus
    label
        color #44c8f5
        font-size 11px
        transform translate3d(0, -20px, 0)
    input,
    textarea
        border-bottom-color #44c8f5

.uiTextInputGroupError
    label
        color #db563a !important
    input,
    textarea
        // color #db563a !important
        border-bottom-color #cd715d !important
    span
        display block

.uiTextInputGroupWhite
    input,
    textarea
        border-bottom 2px solid #fff
        color #fff
    label
        color #fff
    .uiTextInputGroupFocus
        color #fff

.uiTextInputGroupPassword
    input
        text-transform none
