.page
    width 100%
    margin-bottom 50px
    padding 10px 70px 0
    +below(768px)
        padding 10px 20px 0

// clear fix
.pageBack
    box horizontal middle
    display block
    margin-bottom 25px
    text-decoration none
    span
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
    svg
        margin-right 15px
        margin-left -8px
        size 28px

.pageHeader
    box horizontal middle space-between
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    flex-wrap wrap
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase
    data
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.pageSubheader
    box horizontal middle space-between
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    h2
        color #000
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase

.pageContentWrap
    box horizontal top center

.pageContent
    lost-column 10 / 12 1 flex
    margin-bottom 60px
    +above(769px)
        lost-offset 1 / 12
    +below(768px)
        lost-column 1 / 1 flex
        width 100%
    strong
        margin-bottom 43px
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
    p
        margin-bottom 43px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
    h1
        margin-bottom 24px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-weight 400
        line-height 36px
        text-transform uppercase
    h2
        margin-bottom 20px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 20px
        font-weight 400
        line-height 36px
        text-transform uppercase
    h3
        margin-bottom 16px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 16px
        font-weight 400
        line-height 36px
        text-transform uppercase
    h4
        margin-bottom 14px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 400
        line-height 36px
        text-transform uppercase
    h5
        margin-bottom 16px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 700
        line-height 24px
    h6
        margin-bottom 14px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 700
        line-height 24px
    a
        color #44c8f5
    b
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-weight 700
    table
        width 100%
        margin 0 auto
        thead
            td
                vertical-align top
                padding 17px 24px
                border-bottom 1px solid #44c8f5
                color #44c8f5
                font-family 'graphik', Arial, Helvetica, sans-serif
                font-size 14px
                font-weight 400
                line-height 24px
        tbody
            td
                vertical-align top
                padding 17px 24px
                border-bottom 1px solid #f4f4f4
                color #000
                font-family 'graphik', Arial, Helvetica, sans-serif
                font-size 14px
                font-weight 400
                line-height 24px

.pageSuggest
    box vertical top
    display block
    width 100%
    margin-bottom 40px

.pageSuggestHeader
    margin-bottom 10px
    h3
        display inline-block
        margin-bottom 10px
        border-bottom 2px solid #000
        color #000
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
