.pageSliders
    position relative

.pageSlider
    width 100%
    height 310px
    margin-bottom 43px

.pageSlide
    position relative
    width auto
    +below(768px)
        width 100%
    img
        // width 100%
        // height 100%
        // max-width 100%
        object-fit cover

.pageSlideOverlay
    position absolute
    background-color rgba(80, 80, 80, .54)
    size 100%

.pageSlideContent
    top center
    left 80px
    z-index 10
    +below(600px)
        left 20px
        width 100%
    &Header
        display inline-block
        position relative
        color #f5f5f5
        font-family 'Exo 2', sans-serif
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            position absolute
            bottom -3px
            left 0
            background #f5f5f5
            content ''
            size 100% 2px
    &Text
        color #f5f5f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 37px
    &Button
        flex 0 1 auto
        button
            box horizontal middle
            svg
                margin-right 14px
                padding-bottom 1px
                transition all .4s
                size 18px
                fill #000
            &:hover
                svg
                    fill #fff

.pageSliderPrev
    box vertical middle center
    position absolute
    top calc(50% - 43px)
    left -80px
    cursor pointer
    transition all .4s
    size 73px
    svg
        size 36px
        fill #000
    &:hover
        background-color #f5f5f5
    &:active
        background-color #f0f0f2
    +below(768px)
        display none

.pageSliderNext
    box vertical middle center
    position absolute
    top calc(50% - 43px)
    right -80px
    cursor pointer
    transition all .4s
    transform rotate(180deg)
    transform-origin center center
    size 73px
    svg
        size 36px
        fill #000
    &:hover
        background-color #f5f5f5
    &:active
        background-color #f0f0f2
    +below(768px)
        display none