.cart
    width 100%
    margin-bottom 93px
    padding 0 70px
    +below(768px)
        margin-bottom 40px
        padding 0 20px

.cartHeader
    box horizontal middle space-between
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase
    a
        border-bottom 1px solid transparent
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 18px
        text-decoration none
        transition all .4s
        &:hover
            border-bottom 1px solid lighten(#44c8f5, 40%)

.cartContent
    h2
        margin-bottom 20px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
    p
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
        span
            color #44c8f5

.cartTable
    margin-bottom 30px
    +below(600px)
        width calc(100% + 40px)
        overflow hidden
        margin-left -20px
    table
        width 100%
        tr
            transition all .4s
            &:hover
                background-color #f5f5f5
            +below(1075px)
                display block
                position relative
                padding 0 20px
            +below(600px)
                max-width 100vw
        td
            vertical-align middle
            padding 21px 0
    .buttonDelete
        +below(1075px)
            position absolute
            top calc(50% - 19px)
            right 20px
        +below(768px)
            top 20px

.cartTableImage
    vertical-align middle
    min-width 80px
    margin-right 50px
    text-align center
    img
        max-width 80px
        max-height 80px
    +below(600px)
        min-width 100vw
        text-align left

.cartTableName
    padding-right 20px !important
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    +below(1075px)
        float left
        width 100%

.cartTableQty
    box horizontal middle
    height 24px
    +below(600px)
        min-width 100vw

.cartTableQtyMinus
    box vertical middle center
    border 1px solid #000
    border-radius 50%
    size 20px
    svg
        size 12px

.cartTableQtyText
    width 40px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 24px
    font-weight 400
    line-height 24px
    text-align center

.cartTableQtyPlus
    box vertical middle center
    margin-right 7px
    border 1px solid #000
    border-radius 50%
    size 20px
    svg
        size 10px

.cartTablePriceCell
    text-align center
    +below(600px)
        float left

.cartTablePrice
    box horizontal middle center
    &Sale,
    &Value
        position relative
        padding 0 20px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 24px
        line-height 20px
        white-space nowrap
        +below(600px)
            padding 0 10px
            font-size 20px
    &Sale
        margin-right 36px
        color #90908f
        +below(600px)
            margin-right 10px
            padding 0 10px
            font-size 20px
        &:after
            position absolute
            top calc(50% + 1px)
            left 5%
            background-color #90908f
            content ''
            size 90% 2px

.cartTablePriceTotal
    padding 0 20px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 24px
    line-height 20px
    white-space nowrap
    +below(600px)
        display block
        min-width 100vw
        text-align center

.buttonDelete
    box vertical middle center
    background-color #f5f5f5
    border 0
    outline 0
    cursor pointer
    size 38px
    svg
        size 13px

.cartPromo
    box horizontal middle
    margin-bottom 30px
    +below(600px)
        box vertical top left
    &Text
        margin-right 30px
        padding-bottom 5px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px
        +below(600px)
            margin-right 0
            margin-bottom 10px

.cartTotals
    box horizontal middle left
    margin-bottom 58px
    +below(600px)
        box vertical top left
        width calc(100% + 40px)
        margin-bottom 20px
        margin-left -20px
    .cartTotalDelivery
        margin-bottom 56px
        +below(600px)
            width 100%
            padding 30px 20px
    .cartTotal
        margin-left 0 !important
        padding 0
        +below(600px)
            width 100%
            padding 0 20px
            .cartTotalTable
                tr
                    display block
                .cartTotalTableSumText
                    width 100%
                    clear fix
                .cartTotalTableSumValue
                    float left
                    width 100%

.cartTotalDelivery
    lost-column 5 / 12 2 flex
    padding 34px 76px
    background-color #f5f5f5
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-weight 400
    line-height 24px
    span
        margin-left 5px
        color #44c8f5
        clear fix
    a
        display inline-block
        padding-top 7px
        border-bottom 1px solid transparent
        color #44c8f5
        line-height 20px
        text-decoration none
        transition all .4s
        &:hover
            border-bottom 1px solid lighten(#44c8f5, 40%)

.cartTotal
    lost-column 6 / 12 0 flex
    margin-right 0 !important
    margin-left calc(((99.9% * 1 / 12)) - 30px - (30px * 1 / 12) + 30px * 2) !important

.cartTotalTable
    width 100%
    td
        vertical-align middle
        padding-bottom 10px

.cartTotalTableSumText
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    b
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px

.cartTotalTableSumValue
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-weight 400
    line-height 24px
    span
        margin-left 20px
        color #000

.cartOrder
    margin-bottom 41px
    +below(600px)
        box vertical top center
        button
            margin-bottom 10px

.cartNotes
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    span
        display block
        color #000
        font-family 'Exo 2', sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase