.modalDemo
    box vertical top left
    height 1000px
    padding 0 130px
    +below(1000px)
        padding 0 70px
    +below(768px)
        padding 0 20px
    button
        margin-bottom 20px

.overlay
    position fixed
    top 0
    left 0
    z-index 9000
    opacity 0
    visibility hidden
    background-color rgba(0, 0, 0, .7)
    pointer-events none
    transition opacity .4s
    size 100%

.overlayShow
    opacity 1
    visibility visible
    pointer-events all

.modalBodyShow
    position fixed
    overflow hidden
    size 100% 100vh

.modal
    position absolute
    max-width 815px
    z-index 9500
    opacity 0
    padding 91px 98px
    background-color #fff
    pointer-events none
    box-shadow 0 2px 21px rgba(35, 64, 77, .48)
    +below(1000px)
        padding 91px 70px
    +below(768px)
        padding 60px 40px
    +above(601px)
        top center
        left center
    +below(600px)
        top 0
        width 100vw
        height 100vh
        overflow auto
        padding 60px 20px
    .cardSale
        box-shadow none

.modalBlue
    background-color #44c8f5
    .modalHeader
        h2,
        p
            color #fff
    .modalClose
        svg
            fill #fff
        &:hover
            svg
                fill #000

.modalYellow
    background-color #f7d15e

.modalSmallPadding
    padding 40px 60px
    +below(768px)
        padding 60px 40px
    +below(600px)
        padding 60px 20px

.modalShow
    z-index 9500
    opacity 1
    pointer-events all
    transition opacity 0 !important

.modalClose
    position absolute
    top 28px
    right 28px
    cursor pointer
    svg
        transition all .4s
        size 18px
    &:hover
        svg
            fill #44c8f5

.modalHeader
    margin-bottom 30px
    h2
        margin-bottom 12px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
        a
            margin-right 55px
            color #44c8f5
            text-decoration none
        .active
            color #000
        +below(600px)
            // box vertical top
            font-size 24px
            line-height 30px
            a
                margin-bottom 10px
    p
        margin-bottom 10px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px

.modalForm
    box vertical top left
    +below(768px)
        width 100%

.modalFormRow
    box horizontal middle
    margin-bottom 40px
    +below(768px)
        box vertical top center
    +below(600px)
        width 100%
        a
            margin-bottom 20px

.modalFormItem
    display block
    width 630px
    height 40px
    margin-bottom 40px
    +below(768px)
        width 100%
    +below(600px)
        min-width 70vw
        .checkbox
            padding 0 20px
            white-space wrap

.modalFormItemHalf
    lost-column 1 / 2 2 42px flex
    +below(768px)
        lost-column 1 / 1 1 flex
        margin-bottom 30px

.modalFormSubmit
    box horizontal middle
    margin-bottom 35px
    +below(600px)
        box vertical top
        width 100%

.modalLogo
    box horizontal middle center
    svg
        border #fff !important
        size 100px
        fill #fff !important

.modalLoginSocial
    a
        margin-right 30px
        text-decoration none
        svg
            transition all .4s
            size 20px
        &:hover
            svg
                fill #44c8f5