.socialSection
    display block
    margin-bottom 80px
    padding 61px 10%
    background-color #f3f2f3
    +below(768px)
        margin-bottom 40px
        padding 61px 20px 20px

.socialSectionHeader
    width 100%
    margin-bottom 8px
    padding-bottom 5px
    border-bottom 2px solid #000000
    h3
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.socialSectionSlogan
    margin-bottom 40px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 28px

.socialSectionItems
    box horizontal middle
    +below(768px)
        flex-wrap wrap

.socialSectionItem
    box horizontal middle
    margin-right 40px
    text-decoration none
    &:last-child
        margin-right 0
    +below(768px)
        lost-column 1 / 2 2 flex
        margin-bottom 30px

.socialSectionIcon
    box vertical middle center
    display block
    margin-right 16px
    transition all .4s
    size 40px
    svg
        size 20px
        fill #fff
    &VK
        background-color #4973a7
        &:hover
            background-color darken(#4973a7, 20%)
    &OK
        background-color #f18100
        &:hover
            background-color darken(#f18100, 20%)
    &YT
        background-color #f20000
        &:hover
            background-color darken(#f20000, 20%)
    &IG
        background-color #ab2a93
        &:hover
            background-color darken(#ab2a93, 20%)
    &FB
        background-color #3855a0
        &:hover
            background-color darken(#3855a0, 20%)

.socialSectionText
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px