.largeMenu
    box horizontal top left
    display block
    position absolute
    top 100px
    width 100%
    height 600px
    z-index 10000
    opacity 0
    visibility hidden
    padding 50px 70px
    background-color #f0f0f2
    pointer-events none
    transition all .3s
    +below(1300px)
        padding 50px 70px
    &IsShow
        opacity 1
        visibility visible
        pointer-events all

.largeMenuImage
    lost-column 3 / 12 0 0 flex
    box vertical middle center
    align-self stretch
    +below(1100px)
        display none

.largeMenuRows
    lost-column 9 / 12 0 0 flex
    // width 100%
    +below(1100px)
        lost-column 12 / 12 0 0 flex

.largeMenuRow
    box horizontal top
    width 100%
    .largeMenuColumn
        lost-column 1 / 3 3 0 flex

.largeMenuColumn
    lost-column 3 / 12 4 0 flex

.largeMenuLogo
    margin-bottom 35px
    svg
        size 100px

.largeMenuMenu
    box vertical top left
    margin-bottom 35px

.largeMenuMenuHeader
    display inline-block
    position relative
    width auto
    min-height 23px
    margin-bottom 18px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    text-decoration none
    transition all .4s
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        transition all .4s
        size 100% 2px
    &:hover
        color #44c8f5
        &:after
            background-color #44c8f5

.largeMenuMenuItem
    position relative
    width 100%
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    &:after
        display block
        position absolute
        top 0
        left -24px
        z-index -1
        opacity 0
        background-color #fff
        content ''
        transition all .2s
        size 90% 100%
    &:hover
        color #000
        &:after
            opacity 1