.header
    width 100%
    height 100px
    max-width 1600px
    margin 0 auto
    margin-bottom 20px
    background-color #fff
    +below(1060px)
        display none
    &Wrap
        box horizontal middle space-between
        position relative
        height 100px
        margin 0 auto
        // max-width 1224px
        padding 0 70px

.headerLogo
    a
        svg
            size 100px

.headerControl
    box vertical top
    flex 1 1 auto

.headerPrima
    box horizontal middle space-between
    flex 0 1 auto
    margin-bottom 25px
    padding-left 40px

.headerSecundo
    box horizontal middle space-between
    flex 0 1 auto
    padding-left 40px

.headerTopSocial
    a
        margin-right 10px
        text-decoration none
        svg
            size 14px