.headerMenu
    box horizontal middle
    flex 1 1 auto

.headerMenuItem
    box vertical middle
    position relative
    height 32px
    +below(1300px)
        &:not(:first-child)
            display none
    a
        position relative
        padding 0 28px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 16px
        font-weight 400
        text-transform uppercase
        text-decoration none
        align-self stretch
        white-space nowrap
    &Active
        background-color #f0f0f2
    &All
        box horizontal middle
        &:hover
            background-color #f0f0f2
        a
            box horizontal middle
            padding 0 0 0 15px
        .svg
            margin-right 5px
            margin-left 10px
            transition all .3s
            transform rotate(90deg)
            size 16px
            svg
                size 16px
                fill #000
    &AllIsOpen
        background-color #f0f0f2
        .svg
            transform rotate(-90deg)

.headerMenuBottom
    box horizontal middle left
    flex 1 1 auto

.headerMenuBottomItem
    box vertical middle
    height 30px
    a
        padding 0 15px
        color #000
        color #333232
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 14px
        text-decoration none
        align-self stretch
        white-space nowrap
    &:hover
        a
            text-decoration underline
    &Active
        a
            color #44c8f5
            text-decoration underline
