.mobileMenuContainer
    // box vertical top
    position fixed
    top 0
    left 0
    width 50vw
    height 100vh
    min-width 800px
    z-index 9500
    overflow auto
    padding 28px 94px 0
    background-color #fff
    box-shadow 0 2px 21px rgba(35, 64, 77, .48)
    transition all .4s
    transform translateX(-140%)
    +below(800px)
        width 95vw
        min-width 100%
        padding 28px 52px 0
    +below(600px)
        width 100vw
        padding 28px 20px 0

.mobileMenuIsShow
    transform translateX(0)

.mobileMenuClose
    position absolute
    top 28px
    right 28px
    cursor pointer
    svg
        transition all .4s
        size 18px
    &:hover
        svg
            fill #44c8f5

.mobileMenuLogins
    flex 0 1 auto
    margin-bottom 25px

.mobileMenuCarts
    flex 0 1 auto
    margin-bottom 34px

.mobileMenuSearch
    flex 0 1 auto
    display block
    height 30px
    margin-bottom 30px
    &Input
        float left
        input
            width 100%
            height 30px
            padding 0 25px
            background-color #f3f2f3
            border 0
            border-radius 0
            color #000
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-size 14px
            font-weight 300
            line-height 22px
            outline 0
            -webkit-appearance none
    &Button
        button
            width 30px
            height 30px
            padding-top 5px
            background-color #44c8f5
            svg
                fill #fff
                size 20px

.mobileMenu
    box vertical top left
    flex 0 1 auto
    margin-bottom 35px
    transition max-height .4s
    +below(1060px)
        margin-bottom 0

.mobileMenuItems
    flex 0 1 auto
    .mobileMenu
        +below(1060px)
            height auto
            max-height 1px
            overflow hidden
            transition max-height .4s
        &.active
            +below(1060px)
                max-height 999px
                padding-bottom 20px
        &:focus
            outline 0

.mobileMenuItemHeader
    display inline-block
    position relative
    width auto
    min-height 23px
    margin-bottom 26px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    text-decoration none
    transition all .4s
    svg
        display none
        transition all .4s
    +below(1060px)
        box horizontal middle space-between
        width 100%
        margin-bottom 10px
        padding-bottom 10px
        svg
            display block
            margin-right 3px
            transform rotate(-90deg)
            size 20px
            stroke #878786
        &:after
            display none
    &.active
        +below(1060px)
            color #44c8f5 !important
            svg
                transform rotate(90deg)

.mobileMenuItem
    position relative
    width 100%
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    &:after
        display block
        position absolute
        top 0
        left -10px
        z-index -1
        opacity 0
        background-color #f0f0f2
        content ''
        transition all .2s
        size 90% 100%
    &:hover
        color #000
        &:after
            opacity 1

.mobileMenuBlock
    // box vertical top left
    display block
    width calc(100% + 40px)
    margin-left -20px
    padding 34px 20px 100px
    background-color #fafafa
    .headerTopWork
        margin-bottom 30px
    .headerTopPhone
        box vertical top left
        height auto
        margin-bottom 45px
        .headerTopPhoneLink
            margin-bottom 11px
    .headerTopSocial
        box horizontal middle space-around
        padding 0 20px