.mobileHeader
    box horizontal middle space-between
    display none !important
    position fixed
    z-index 1000
    margin-bottom 45px
    background-color #fff
    box-shadow 0 10px 20px rgba(1, 39, 54, .1)
    size 100% 64px
    +below(1060px)
        display flex !important

.mobileHeaderSpacer
    display none
    +below(1060px)
        display block
        height 64px
        margin-bottom 45px

// margin-bottom 45px
.mobileHeaderLeft
    box horizontal middle space-around
    flex 1 1 50%
    padding 0 20px

.mobileHeaderMiddle
    box vertical middle center

.mobileHeaderRight
    box horizontal middle space-around
    flex 1 1 50%
    padding 0 20px

.mobileHeaderSearch
    svg
        size 18px

.mobileHeaderLogo
    svg
        size 43px

.mobileHeaderMenu
    position relative
    padding-bottom 3px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 16px
    font-weight 400
    line-height 23px
    text-transform uppercase
    cursor pointer
    &:after
        display block
        position absolute
        bottom 0
        left 0
        background-color #000
        content ''
        size 100% 2px
