doctype
html
    head
        title Libra
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0;")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&amp;subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Exo+2&amp;subset=cyrillic" rel="stylesheet")
        link(type="text/css", href='./css/main.css', rel="stylesheet")
        link(type='image/x-icon', href='./favicon.ico', rel='icon')
        script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
        //- script(src="./js/preload.js")
        //- include _svg.jade
        //- include _mixin.jade


    body
        include _svg.pug
        include block/_header.pug
        include block/_menu_mobile.pug
        .overlay
        include block/modal/_subscribe.pug
        include block/modal/_question.pug
        include block/modal/_order.pug
        include block/modal/_sale.pug
        include block/modal/_cart.pug
        include block/modal/_wish.pug
        include block/modal/_oneclick.pug
        include block/modal/_login.pug
        include block/modal/_restore.pug
        include block/_cart.pug
        block content

        include block/_footer.pug
        script(src="./js/app.js")
