extends _layout

block content
    .about
        .aboutHeader
            h1 ГДЕ КУПИТЬ
        .aboutContent
            p Вы можете преобрести продукцию марки Либридерм в нашем интернет-магазине.

            p
                a(href="#").buttonBlueMedium В Каталог
            .aboutBuy
                .aboutBuyHeader
                    h2 Наша продукция также представленна во всех крупных сетях аптек страны
                .aboutBuyItems
                    .aboutBuyItem
                        img(src="img/buy.png", alt="")
                    .aboutBuyItem
                        img(src="img/buy.png", alt="")
                    .aboutBuyItem
                        img(src="img/buy.png", alt="")
                    .aboutBuyItem
                        img(src="img/buy.png", alt="")
                    .aboutBuyItem
                        img(src="img/buy.png", alt="")
                    .aboutBuyItem
                        img(src="img/buy.png", alt="")
            p Если по каким-то причинам в аптеке, которую Вы посетили, не оказалось в наличии продукции ТМ «Либридерм», Вы можете попросить фармацевта заказать для Вас нужное количество упаковок  у дистрибьюторов.