extends _layout

block content
    .cabinet
        .cabinetSidebar
            .cabinetSidebarAvatar
                +svgIcon('icon-people')
                .cabinetSidebarAvatarButton
                    +svgIcon('icon-photo')
                    span Загрузить фото
            .cabinetSidebarName
                | Ирина Михайловна
            .cabinetSidebarMenu
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-setting')
                    .cabinetSidebarMenuItemText
                        | Настройка профиля
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-logout')
                    .cabinetSidebarMenuItemText
                        | Выход
                .cabinetSidebarMenuItemSpacer
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-history')
                    .cabinetSidebarMenuItemText
                        | История заказов
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-cart2')
                    .cabinetSidebarMenuItemText
                        | Купленные товары
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-bonus')
                    .cabinetSidebarMenuItemText
                        | Бонусные баллы


        .cabinetMain
            .cabinetHeader
                h1 купленные товары
            .cabinetContent
                .cabinetBuy
                    .cabinetBuyRow
                        .cabinetBuyRowColumn
                            a(href="#").cardProduct
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            include ../svg/icon-cart2.svg
                                            .cardProductCartTooltip
                                                | Добавить в корзину
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                                            .cardProductWhishTooltip
                                                | Добавить в избранное
                        .cabinetBuyRowColumn
                            a(href="#").cardProduct.cardProductYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            include ../svg/icon-cart2.svg
                                            .cardProductCartTooltip
                                                | Добавить в корзину
                                        .cardProductWhish
                                            include ../svg/icon-wishlist.svg
                                            .cardProductWhishTooltip
                                                | Добавить в избранное
                    .cabinetBuyRow
                        .cabinetBuyRowColumn
                            a(href="#").cardProduct.cardProductLightYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductContentWrap
                                        .cardProductHeader
                                            | Ультра реаниматор
                                        .cardProductDescription
                                            | Лак для ногтей
                                        .cardProductColorsSlider
                                            .cardProductColors.swiper-container
                                                .swiper-wrapper
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                            .cardProductColorsNext
                                                +svgIcon('icon-arrow')
                                        .cardProductRow
                                            .cardProductPrice
                                                | 399
                                                .ruble г
                                            .cardProductCart
                                                include ../svg/icon-cart2.svg
                                                .cardProductCartTooltip
                                                    | Добавить в корзину
                                            .cardProductWhish
                                                include ../svg/icon-wishlist.svg
                                                .cardProductWhishTooltip
                                                    | Добавить в избранное