extends _layout

block content
    .cabinet
        .cabinetSidebar
            .cabinetSidebarAvatar
                +svgIcon('icon-people')
                .cabinetSidebarAvatarButton
                    +svgIcon('icon-photo')
                    span Загрузить фото
            .cabinetSidebarName
                | Ирина Михайловна
            .cabinetSidebarMenu
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-setting')
                    .cabinetSidebarMenuItemText
                        | Настройка профиля
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-logout')
                    .cabinetSidebarMenuItemText
                        | Выход
                .cabinetSidebarMenuItemSpacer
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-history')
                    .cabinetSidebarMenuItemText
                        | История заказов
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-cart2')
                    .cabinetSidebarMenuItemText
                        | Купленные товары
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-bonus')
                    .cabinetSidebarMenuItemText
                        | Бонусные баллы


        .cabinetMain
            .cabinetHeader
                h1 Регистрационные данные
            .cabinetContent
                .cabinetProfile
                    .cabinetProfileForm
                        .cabinetProfileFormColumn
                            .cabinetProfileFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="Адресс")
                                    label Адрес доставки
                            .cabinetProfileFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="Индекс")
                                    label Индекс
                            .cabinetProfileFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="Наталья Петрова")
                                    label Имя
                            .cabinetProfileFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="+7 259 999 55 55")
                                    label Телефон
                            .cabinetProfileFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="mail@mail.ru")
                                    label e-mail
                        .cabinetProfileFormColumn
                            .cabinetProfileFormPassword
                                .cabinetProfileFormCurrentPassword
                                    .uiTextInputGroup.uiTextInputGroupPassword
                                        input(type="password" placeholder="Текущий пароль" value="Passwrd")#password
                                        label Текущий пароль
                                .cabinetProfileFormNewPassword
                                    .uiTextInputGroup.uiTextInputGroupPassword
                                        input(type="password" placeholder="Минимум 6 символов" value="")#password
                                        label Новый пароль
                                    .uiTextInputGroup.uiTextInputGroupPassword
                                        input(type="password" placeholder="Минимум 6 символов" value="")#password
                                        label Повторите пароль
                            .cabinetProfileFormItem.cabinetProfileFormItemButton
                                button.buttonGrey.cabinetProfileChangePasswordButton изменить
                                .showPassword
                                    +svgIcon('icon-password')

                    .cabinetProfileSubscribtion
                        .cabinetProfileSubscribtionHeader
                            | Рассылки, на которые Вы подписаны:v
                        .cabinetProfileSubscribtionItem
                            input( type="checkbox")#sub1
                            label(for="sub1").checkbox Рассылка об акциях
                        .cabinetProfileSubscribtionItem
                            input( type="checkbox")#sub2
                            label(for="sub2").checkbox Рассылка о поступлении товара
                    .cabinetProfileSave
                        button.buttonGrey сохранить

