extends _layout

block content
    .cart
        .cartHeader
            h1 ОФОРМИТЬ ЗАКАЗ
            a(href="#") изменить заказ
        .cartOrder
            .cartOrderTop
                .cartOrderItems
                    .cartOrderItem
                        img(src="img/item-1.png")
                        .cartOrderItemBadge
                            span 2
                    .cartOrderItem
                        img(src="img/item-1.png")
                    .cartOrderItem
                        img(src="img/item-1.png")
                        .cartOrderItemBadge
                            span 2
                    .cartOrderItemTotal
                        | 5 товаров
                .cartOrderTotal
                    .cartOrderTotalText
                        | Итого сумма
                    .cartOrderTotalPrice
                        | 299
                        .ruble г
                        span
                            | (299
                            .ruble г
                            |  бонусами)

            .cartOrderForm
                .cartOrderFormBigItem
                    .cartOrderFormBigItemLabel
                        label Регион
                    .cartOrderFormBigItemSelect
                        select.select.choices
                            option Москва
                            option Санкт-Петербург
                        span * на текущий момент доставка осуществляется только по Москве
                .cartOrderFormBigItem
                    .cartOrderFormBigItemLabel
                        label Доставка
                    .cartOrderFormBigItemDelivery
                        .cartOrderFormDelivery
                            .cartOrderFormDeliveryTabs(data-tabs)
                                a(data-tab href='#tabCourer').active.cartOrderIconItem
                                    .cartOrderIconItemIcon
                                        +svgIcon('icon-courer')
                                    .cartOrderIconItemText
                                        | Курьером <br> от 250
                                        .ruble г
                                a(data-tab href='#tabOffice').cartOrderIconItem
                                    .cartOrderIconItemIcon
                                        +svgIcon('icon-office')
                                    .cartOrderIconItemText
                                        | Самовывоз <br> бесплатно
                                        .ruble г
                                a(data-tab href='#tabPost').cartOrderIconItem
                                    .cartOrderIconItemIcon
                                        +svgIcon('icon-post')
                                    .cartOrderIconItemText
                                        | Почтой <br> от 100
                                        .ruble г
                            .cartOrderFormDeliveryPanels(data-tabs-content)
                                .cartOrderFormDeliveryPanel.tabs-pane.active#tabCourer(data-tabs-pane)
                                    .cartOrderFormDeliveryPanelContent.cartOrderFormDeliveryPanelContentCourer
                                        .uiTextInputGroup
                                            input(type="text" placeholder="Адрес доставки")
                                            label Адрес
                                .cartOrderFormDeliveryPanel.tabs-pane#tabOffice(data-tabs-pane)
                                    .cartOrderFormDeliveryPanelContent.cartOrderFormDeliveryPanelContentOffice
                                        .cartOrderFormDeliveryPanelContentOfficeSelect
                                            select.select.choices
                                                option Москва
                                                option Санкт-Петербург
                                        .cartOrderFormDeliveryPanelContentOfficeItems
                                            .cartOrderFormDeliveryPanelContentOfficeItem.cartOrderFormDeliveryPanelContentOfficeItemActive
                                                h4 Улица Гакелева д.5
                                                p м. Щелковская. Доставка на пункт выдачи в течение 5 дней
                                                span Бесплатно
                                            .cartOrderFormDeliveryPanelContentOfficeItem
                                                h4 Улица Гакелева д.5
                                                p м. Щелковская. Доставка на пункт выдачи в течение 5 дней
                                                span Бесплатно
                                            .cartOrderFormDeliveryPanelContentOfficeItem
                                                h4 Улица Гакелева д.5
                                                p м. Щелковская. Доставка на пункт выдачи в течение 5 дней
                                                span Бесплатно
                                            .cartOrderFormDeliveryPanelContentOfficeItem
                                                h4 Улица Гакелева д.5
                                                p м. Щелковская. Доставка на пункт выдачи в течение 5 дней
                                                span Бесплатно
                                .cartOrderFormDeliveryPanel.tabs-pane#tabPost(data-tabs-pane)
                                    .cartOrderFormDeliveryPanelContent.cartOrderFormDeliveryPanelContentPost
                                        .uiTextInputGroup
                                            input(type="text" placeholder="Адрес доставки")
                                            label Адрес
                                        .uiTextInputGroup
                                            input(type="text" placeholder="Индекс почтового отделения")
                                            label Индекс
                .cartOrderFormBigItem
                    .cartOrderFormBigItemLabel
                        label Оплата
                    .cartOrderFormBigItemDelivery
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-wallet')
                            .cartOrderIconItemText
                                | Наличными
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-mastercart')
                            .cartOrderIconItemText
                                | Master Cart
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-visa')
                            .cartOrderIconItemText
                                | VISA
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-webmoney')
                            .cartOrderIconItemText
                                | Webmoney
                        .cartOrderIconItem
                            .cartOrderIconItemIcon
                                +svgIcon('icon-yandex')
                            .cartOrderIconItemText
                                | Yandex Money

                .cartOrderFormSubheader
                    h2 Личные данные
                    p
                        | если Вы ранее заказывали у нас, войдите в&nbsp
                        a(href="#") личный кабинет

                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="+7 259 999 55 55")
                        label Телефон
                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="Наталья Петрова")
                        label Имя
                .cartOrderFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="mail@mail.ru")
                        label e-mail
                        span error e-mail
                .cartOrderFormItem
                    .uiTextInputGroup.uiTextInputGroupError
                        input(type="text" placeholder="Текс")
                        label коментарий к заказу
                        span error comment
                .cartOrderFormItemCombi
                    .cartOrderFormItemCheckbox
                        input( type="checkbox")#paybonus
                        label(for="paybonus").checkbox Оплатить бонусами. Доступно бонусов: 200
                    .uiTextInputGroup
                        input(type="text" placeholder="Введите количество")
                        label Введите количество
                    span * чтобы оплатить покупку или часть покупки бонусными баллами, введите количество бонусов для списания с вашего аккаунта.
                .cartOrderFormTotal
                    .cartOrderFormTotalItem
                        .cartOrderFormTotalItemText
                            | Сумма доставки
                        .cartOrderFormTotalItemPrice
                            | 1000
                            .ruble г
                    .cartOrderFormTotalItem
                        .cartOrderFormTotalItemText
                            | Итого сумма
                        .cartOrderFormTotalItemPrice
                            | 299
                            .ruble г
                            span
                                | (299
                                .ruble г
                                |  бонусами)
                .cartOrderFormSubmit
                    button.buttonBlueMedium Купить

