extends _layout

block content
    .cart
        .cartHeader
            h1 Спасибо за заказ
        .cartContent
            h2 Заказа № 3565478 оформлен
            p
                | О готовности заказа мы Вас оповестим. Для Вас открыт личный кабинет. Информция для входа в личный кабинет была направлена на Ваш электронный адрес&nbsp
                span nico@gmail.com
    .cardInfo
        .cardInfoSocial
            .cardInfoSocialHeader
                | Мы в социальных сетях
            .cardInfoSocialItems
                a(href="#").cardInfoSocialItem
                    +svgIcon('icon-vk')
                a(href="#").cardInfoSocialItem
                    +svgIcon('icon-ok')
                a(href="#").cardInfoSocialItem
                    +svgIcon('icon-yt')
                a(href="#").cardInfoSocialItem
                    +svgIcon('icon-ig')
                a(href="#").cardInfoSocialItem
                    +svgIcon('icon-fb')

        .cardInfoBlog(style="background-image: url('img/blog-1.jpg')")
            .cardInfoBlogOverlay
            .cardInfoBlogHeader
                | Читайте блог Librederm
            .cardInfoBlogLink
                a(href="#", title="title").buttonBlueMedium Все статьи