extends _layout

block content
    .catalog
        .catalogSection
            .catalogSectionHeader
                h1 ВСЯ ПРОДУКЦИЯ
            include block/_filter.pug
            a(href="#").catalogTextBlock
                .catalogTextBlockImage
                    img(src="img/blog-2.jpg", alt="")
                .catalogTextBlockText
                    h3 Узнать больше о гиалуроновой коллекции
                    p Гиалуроновая кислота — самый мощный и актуальный в косметологии увлажнитель.
            .catalogSorting
                span Сортировать:&nbsp
                a(href="#").catalogSortingActive.catalogSortingActiveAsc по цене
                a(href="#") по акции
                a(href="#") со скидкой
                a(href="#").catalogSortingActive.catalogSortingActiveDesc распродажа
            .catalogSectionContent
                .catalogRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductBlue
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductYellow
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .catalogDoubleRow
                    .catalogCellThird
                        a(href="javascript:;").cardProduct.cardProductVertical.cardProductYellow
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .catalogDoubleRow
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductYellow
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .catalogDoubleRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное

            .pagination
                .paginationButton
                    a(href="#").paginationButtonPrev
                        +svgIcon('icon-arrow-left-logn')
                        span Предыдущая

                    a(href="#").paginationButtonNext
                        span Следующая
                        +svgIcon('icon-arrow-right-logn')
                .paginationItem
                    a(href="#").paginationItemActive 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4
                    a(href="#") 5
                    a(href="#") 6
                    a(href="#") ...
                    a(href="#") 10
            .cardText
                .cardTextHeader
                    span о компании Librederm
                .cardTextContent
                    p С гордостью и большим удовольствием рады представить Вашему вниманию НОВЫЙ каталог продукции Librederm®!
                    p Создавая данный каталог мы хотели сделать приятный подарок всем, кто активно пользуются нашими косметическими средствами.
                    p В каталоге продукции лаборатории Librederm® вы сможете найти все новинки наших средств, яркие красочные фотографии и детальное описание их свойств.
