extends _layout

block content
    .contact
        .contactHeader
            h1 Контакты
        .contactContent
            .contactPhone
                a(href="tel: 8(800)234-82-28") 8 (800) 234-82-28
                .contactPhoneTitle Телефон горячей линии
            .contactText
                p Организация, уполномоченная принимать претензии от потребителей: ООО «БИОФАРМРУС» <br> г. Подольск, ул. Комсомольская, д.1, тел.: (495) 580-30-69
        .contactContent
            form.contactForm
                .contactFormHeader
                    | Ваше сообщение
                .contactFormColumns
                    .contactFormColumn
                        .contactFormItem
                            .uiTextInputGroup
                                input(type="text" placeholder="Имя")
                                label Имя
                    .contactFormColumn
                        .contactFormItem
                            .uiTextInputGroup
                                input(type="text" placeholder="Имя")
                                label e-mail
                .contactFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="Имя")
                        label Ваше сообщение
                .contactFormItem
                    button(type="submit").buttonBlueMedium Отправить