extends _layout_modal

block content
    .modalDemo
        button.buttonBlueMedium.modalButton(data-modal="#modal_subscribe") Подписка
        button.buttonBlueMedium.modalButton(data-modal="#modal_question") Вопросы
        button.buttonBlueMedium.modalButton(data-modal="#modal_order") Заявка
        button.buttonBlueMedium.modalButton(data-modal="#modal_sale")  Акция
        button.buttonBlueMedium.modalButton(data-modal="#modal_cart")  Корзина
        button.buttonBlueMedium.modalButton(data-modal="#modal_wish")  Wishlist
        button.buttonBlueMedium.modalButton(data-modal="#modal_oneclick")  В один клие
        button.buttonBlueMedium.modalButton(data-modal="#modal_login") Логин
        button.buttonBlueMedium.modalButton(data-modal="#modal_restore") Восстановить пароль
