extends _layout

block content
    .breadcrumbs
        a(href="#") Каталог
        a(href="#") Средства по уходу за лицом
    .product
        .productWrap
            .productHeaderMobile
                .productHeader
                    h1 Крем ГИАЛУРОНОВЫЙ увлажняющий
            .productLeft
                .productImages
                    .productImageSlider.swiper-container
                        .swiper-wrapper
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                    .productImageSliderThumbContainer
                        .productImageSliderThumbs.swiper-container
                            .swiper-wrapper
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                        .productImageSliderThumbLeft
                            +svgIcon('icon-arrow')
                        .productImageSliderThumbRight
                            +svgIcon('icon-arrow')
                .productRelatedVideo
                    a(href="#").productRelatedVideoItem
                        .productRelatedVideoItemIcon
                            +svgIcon('icon-video')
                        .productRelatedVideoItemText
                            | Как ухаживать за кодей с помощью гиалуронового крема
                .productDiagnostic
                    .productDiagnosticHeader
                        | Диагностика
                    .productDiagnosticText
                        | Пройти тест и узнай свой тип кожи
                    .productDiagnosticButton
                        a(href="#").buttonBlueMedium Пройти тест


            .productRight
                .productContent
                    .productTop
                        .productStarReview
                            .productStars
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar.productStarEmpty
                                    +svgIcon('icon-star-fill')
                            .productStarReviewText
                                | 8 отзывов
                        .productCurrentView
                            | 5 человек в данный момент просматривают этот товар
                    .productHeader
                        h1 Крем ГИАЛУРОНОВЫЙ увлажняющий
                    .productTypes
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-age')
                            .productTypeText 20-30 лет
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-type')
                            .productTypeText Тип Жирный
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-sun')
                            .productTypeText День
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-less')
                            .productTypeText Без красителей
                    .productPrices
                        .productPriceTop
                            .productPrice
                                .productPriceSale
                                    | 399
                                    .ruble г
                                .productPriceValue
                                    | 299
                                    .ruble г
                            .productStock
                                | 5 шт. в наличии
                        .productPriceAdd
                            .productPriceQty
                                .productPriceQtyMinus
                                    +svgIcon('icon-minus')
                                .productPriceQtyText
                                    input(type="text" value="1")
                                .productPriceQtyPlus
                                    +svgIcon('icon-plus')
                            .productPriceAddCart
                                .productPriceAddCartIcon
                                    +svgIcon('icon-cart')
                                .productPriceAddCartText
                                    | В корзину
                            .productPriceAddWish
                                .productPriceAddWishIcon
                                   include ../svg/icon-wishlist.svg
                                .productPriceAddWishText В избранное
                        .productPriceDelivery
                            | Бесплатная доставка от 3 000
                            .ruble г
                        .productPriceBuy
                            .productPriceBuyIcon
                                +svgIcon('icon-hospital')
                            .productPriceBuyText
                                | Купить в аптеке
                    .productBottom
                        .productDescription
                            .productDescriptionText
                                | Эффективно увлажняет, восстанавливает и успокаивает кожу. Желе для умывания применяется для деликатного очищения лица и шеи.
                            .productDescriptionPresent
                                .productDescriptionPresentIcon
                                    +svgIcon('icon-present')
                                .productDescriptionPresentText
                                    | Подарок от ЛибреДерм
                        .productFavoriteReviews
                            .productFavoriteReview
                                .productFavoriteReviewText
                                    | Этот крем прекрасно мне подошёл, не смотря на проблему с угрями. Я бы могла сказать что...
                                .productFavoriteReviewAuthor
                                    .productFavoriteReviewAuthorIcon
                                        +svgIcon('icon-comment')
                                    .productFavoriteReviewAuthorName
                                        | Оксана Игоревна
                            .productFavoriteReviewButton
                                a(href='#').buttonDarkGrey Все отзывы
                    .productFooter
                        .productFooterSocial
                            .productFooterSocialText
                                | Поделись товаром в соцсетях-получи скидку 20%
                            .productFooterSocialLinks
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-vk')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-ok')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-yt')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-ig')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-fb')

                .productFooterImage(style="background-image: url(img/product-footer.jpg)")
                .productTabs
                    .productTabControls(data-tabs).swiper-container
                        .swiper-wrapper
                            .productTabButtonWrap.swiper-slide
                                a(data-tab href='#tab1').productTabButton.productTabButtonActive
                                    | Описание
                            .productTabButtonWrap.swiper-slide
                                a(data-tab href='#tab2').productTabButton
                                    | Состав
                            .productTabButtonWrap.swiper-slide
                                a(data-tab href='#tab3').productTabButton
                                    | Применение
                            .productTabButtonWrap.swiper-slide
                                a(data-tab href='#tab4').productTabButton
                                    | Оплата и доставка
                            .productTabButtonWrap.swiper-slide
                                a(data-tab href='#tab5').productTabButton
                                    | Отзывы
                    .productTabPanels(data-tabs-content)
                        .productTabPanel.tabs-pane.active#tab1(data-tabs-pane)
                            p Коллекция питательных кремов Аевит для рук с разными приятными запахами в мини форматах позволяет легко взять с собой в дорогу и в путешествие любимый крем. В кремах использованы дорогие эксклюзивные французские, английские и немецкие парфюмерные композиции! Крема обладают выраженным смягчающим действием предназначен для комплексного ухода за кожей рук и поверхностью ногтей: оказывает антиоксидантное и регенерирующее действие, тонизирует и освежает «уставшую кожу», замедляет процесс старения клеток. Содержит коллаген и витаминный комплекс. Укрепляет ослабленные, тонкие и расслаивающиеся ногти. 3 в 1 ультра стволовые клетки винограда Содержит стволовые клетки винограда и витаминный комплекс. Восстанавливает, укрепляет и выравнивает ногти.
                        .productTabPanel.tabs-pane#tab2(data-tabs-pane)
                            table
                                tr
                                    td
                                        | Вода деминерализованная
                                    td
                                        | Экстракт коры дуба
                                tr
                                    td
                                        | Мочевина
                                    td
                                        | Масло литсея-кубеба эфирное
                                tr
                                    td
                                        | Масло соевое
                                    td
                                        | Метилхлороизотиазолинон и метилизотиазолинон
                                tr
                                    td
                                        | Изопропилпальмитат
                                    td
                                        | Усилитель роста АЕвит
                                tr
                                    td
                                        | Аммониум акрилоилдиметилтаурат сополимер
                                    td
                                        | Ультразащита Карбон
                                tr
                                    td
                                        | Натуральный увлажняющий фактор (NMF)
                                    td
                                        | Соли L-пирролидон-карбоновой кислоты



                        .productTabPanel.tabs-pane#tab3(data-tabs-pane)
                            p 3
                        .productTabPanel.tabs-pane#tab4(data-tabs-pane)
                            p 4
                        .productTabPanel.tabs-pane#tab5(data-tabs-pane)
                            .productReviews
                                .productReview
                                    .productReviewAvatar
                                        +svgIcon('icon-vk')
                                    .productReviewContent
                                        .productReviewDate
                                            | 15 декабря
                                        .productReviewAuthor
                                            | Мария Светлакова
                                        .productReviewText
                                            | Спасибо компании Libreferm за заботу о моей коже! Я очень рада что узнала о вашей косметике. Теперь пользуюсь только ею.
                                    .productReviewPhoto
                                        img(src="img/item-1.png", alt="")
                                .productReview
                                    .productReviewAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .productReviewContent
                                        .productReviewDate
                                            | 15 декабря
                                        .productReviewAuthor
                                            | Мария Светлакова
                                        .productReviewText
                                            | Спасибо компании Libreferm за заботу о моей коже! Я очень рада что узнала о вашей косметике. Теперь пользуюсь только ею.
                                    .productReviewPhoto
                                        img(src="img/item-1.png", alt="")
                            form.productReviewForm
                                .productReviewFormHeader
                                    | Написать отзыв
                                .productReviewFormContent
                                    .uiTextInputGroup
                                        textarea(type="text" placeholder="Текст отзыва")
                                        label Ваш отзыв
                                .productReviewFormSubmits
                                    button.buttonBlueMedium Отправить
                                    .productReviewFormFile
                                        .productReviewFormFileIcon
                                            +svgIcon('icon-plus')
                                        .productReviewFormFileText
                                            | Добавить фото

        .productBundle
            .productBundleHeader
                h2 Комплексный уход
            .productBundleItems
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id1
                            label(for="id1").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                   include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id2
                            label(for="id2").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                   include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemEqual
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id3
                            label(for="id3").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                   include ../svg/icon-wishlist.svg
                .productBundleItem
                    .productBundleFinal
                        .productBundleFinalName
                            | Комплексный гиалуроновый уход за кожей
                        .productBundleFinalDescription
                            | Закажите комплекс и получите скидку 15%
                        .productBundleFinalPrice
                            .productBundleFinalPriceSale
                                | 1399
                                .ruble г
                            .productBundleFinalPriceValue
                                | 1199
                                .ruble г
                        .productBundleFinalButton
                            .productBundleAddCart
                                .productBundleAddCartIcon
                                    +svgIcon('icon-cart')
                                .productBundleAddCartText
                                    | В корзину


        .productBundle
            .productBundleHeader
                h2 Комплексный уход
            .productBundleItems.productBundleItemsFour
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id1
                            label(for="id1").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id2
                            label(for="id2").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id2
                            label(for="id2").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemEqual
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id3
                            label(for="id3").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem
                    .productBundleFinal
                        .productBundleFinalName
                            | Комплексный гиалуроновый уход за кожей
                        .productBundleFinalDescription
                            | Закажите комплекс и получите скидку 15%
                        .productBundleFinalPrice
                            .productBundleFinalPriceSale
                                | 1399
                                .ruble г
                            .productBundleFinalPriceValue
                                | 1199
                                .ruble г
                        .productBundleFinalButton
                            .productBundleAddCart
                                .productBundleAddCartIcon
                                    +svgIcon('icon-cart')
                                .productBundleAddCartText
                                    | В корзину
        .productInstagramm
            .productInstagrammHeader
                h2 о Креме ГИАЛУРОНОВОМ увлажняющем в Instagram
            .productInstagrammContent
                .productInstagrammItem
                    include block/_insta
                .productInstagrammItem
                    include block/_insta
                .productInstagrammItem
                    include block/_insta
                .productInstagrammItem
                    include block/_insta
                .productInstagrammItem
                    include block/_insta

                script(src='//platform.instagram.com/en_US/embeds.js', async='', defer='')
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyLarge
                    | загрузить еще
        .productBlock
            .productBlockHeader
                h2 о Креме ГИАЛУРОНОВОМ увлажняющем в Instagram
            .productBlockContent
                .mainRow
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .mainRow
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductLightGrey
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyLarge
                    | в каталог
        .productBlock
            .productBlockHeader
                h2 Рекомендуемые товары
            .productBlockContent
                .mainRow
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .mainRow
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductLightGrey
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductYellow
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyLarge
                    | в каталог