extends _layout

block content
    .sale
        .saleSection
            .saleSectionHeader
                h1 АКЦИИ
            .saleSectionContent
                .saleDoubleRow
                    .saleCellSixth
                        a(href="#").cardSale.cardSaleBig.cardSaleYellow
                            .cardSaleContent
                                .cardSaleHeader
                                    .cardSaleHeaderText
                                        | Акция <br> остался месяц
                                    .cardSaleHeaderValue
                                        | 75%
                                .cardSaleDescription
                                    | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                            .cardSaleImage
                                img(src="img/item-2.png", alt="alt")
                    .saleCellSixth
                        a(href="#").cardSale.cardSaleBig.cardSaleLightGrey
                            .cardSaleContent
                                .cardSaleHeader
                                    .cardSaleHeaderText
                                        | Акция <br> остался месяц
                                    .cardSaleHeaderValue
                                        | 75%
                                .cardSaleDescription
                                    | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                            .cardSaleImage
                                img(src="img/item-2.png", alt="alt")
                .saleRow
                    .saleCellSeventh
                        a(href="#").cardSale.cardSaleLightGrey
                            .cardSaleContent
                                .cardSaleHeader
                                    .cardSaleHeaderText
                                        | Акция <br> остался месяц
                                    .cardSaleHeaderValue
                                        | 75%
                                .cardSaleDescription
                                    | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                            .cardSaleImage
                                img(src="img/item-2.png", alt="alt")
                    .saleCellFifth
                        a(href="#").cardSale.cardSaleWhite
                            .cardSaleContent
                                .cardSaleHeader
                                    .cardSaleHeaderText
                                        | Акция <br> остался месяц
                                    .cardSaleHeaderValue
                                        | 75%
                                .cardSaleDescription
                                    | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                            .cardSaleImage
                                img(src="img/item-2.png", alt="alt")
                .saleRow
                    .saleCellFifth
                        a(href="#").cardSale.cardSaleLightGreen
                            .cardSaleContent
                                .cardSaleHeader
                                    .cardSaleHeaderText
                                        | Акция <br> остался месяц
                                    .cardSaleHeaderValue
                                        | 75%
                                .cardSaleDescription
                                    | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                            .cardSaleImage
                                img(src="img/item-2.png", alt="alt")
                    .saleCellSeventh
                        a(href="#").cardSale.cardSaleBlue
                            .cardSaleContent
                                .cardSaleHeader
                                    .cardSaleHeaderText
                                        | Акция <br> остался месяц
                                    .cardSaleHeaderValue
                                        | 75%
                                .cardSaleDescription
                                    | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

                            .cardSaleImage
                                img(src="img/item-2.png", alt="alt")
            .saleSubscribe
                .cardSubscribe.cardSubscribeGrey
                    .cardSubscribeHeader
                        span Подписывайтесь на нашу рассылку
                    .cardSubscribeContent
                        | Следите за обновлениями, новинками и акциями от ЛибреДерм
                    form.cardSubscribeForm
                        .cardSubscribeFormItems
                            .cardSubscribeFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="Имя")
                                    label Имя
                            .cardSubscribeFormItem
                                .uiTextInputGroup
                                    input(type="text" placeholder="mail@mail.ru")
                                    label E-mail
                        .cardSubscribeFormSubmit
                            button.buttonWhite
                                | ПОдписаться