extends _layout

block content
    .catalog
        .catalogSection
            .catalogSectionHeader
                h1 Найдено 7 по запросу "крем"
            .catalogSectionContent
                .catalogSectionSubheader
                    h2 Продукция
                .catalogRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .catalogDoubleRow
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .catalogDoubleRow
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductYellow
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                .catalogDoubleRow
                    .catalogCellSixth
                         a(href="#").cardProduct.cardProductVertical.cardProductYellow
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        include ../svg/icon-cart2.svg
                                        .cardProductCartTooltip
                                            | Добавить в корзину
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                                        .cardProductWhishTooltip
                                            | Добавить в избранное

            .blogContent
                .blogSubheader
                    h2 Блог
                .blogRow
                    a(href="#").blogCard.blogCardSmall
                        .blogCardCategory
                            | Новость
                        .blogCardImage(style="background-image: url('img/blog-2.jpg')")
                        .blogCardGradient
                        .blogCardContent
                            .blogCardDate
                                | 15 мая 2017
                            .blogCardTitle
                                | Фотоотчет со встречи Юлии Барановской с читателями
                        .blogCardContentHover
                            .blogCardDate
                                | 15 мая 2017
                            .blogCardTitle
                                | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями
                    a(href="#").blogCard.blogCardBig
                        .blogCardCategory
                            | Новость
                        .blogCardImage(style="background-image: url('img/blog-1.jpg')")
                        .blogCardGradient
                        .blogCardContent
                            .blogCardDate
                                | 15 мая 2017
                            .blogCardTitle
                                | Фотоотчет со встречи Юлии Барановской с читателями
                        .blogCardContentHover
                            .blogCardDate
                                | 15 мая 2017
                            .blogCardTitle
                                | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями

