.selec
    width 250px
    height 41px
    padding 0 20px
    background-color transparent
    background-image inline('icon-select.svg')
    background-size 25px
    background-repeat no-repeat
    border 1px solid #f0f0f2
    border-radius 0
    background-position right 8px center
    -webkit-appearance none