.footer
    box horizotal top
    display block
    width 100%
    max-width 1600px
    margin 0 auto
    padding 0 70px
    +below(1060px)
        box vertical top left
    +below(768px)
        display none

.footerMobile
    display none
    position relative
    +below(767px)
        box vertical top left
        display block
        padding 0 20px
    .footerSocial
        margin-bottom 20px
        align-self center

.footerCopyright
    margin-bottom 35px
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-align center
    text-decoration none
    +below(900px)
        display none
    &Mobile
        display none
        +below(900px)
            display block

.footerRows
    width 100%

.footerRow
    box horizontal top
    width 100%
    flex-wrap wrap
    .footerColumn
        lost-column 1 / 3 flex
        +below(1060px)
            lost-column 1 / 3 3 flex

.footerColumn
    lost-column 3 / 12 flex
    +below(1060px)
        lost-column 1 / 1 0 flex
        margin-bottom 25px

.footerLogo
    margin-bottom 35px
    svg
        size 100px

.footerMobileItems
    width 100%

.footerMenu
    box vertical top left
    margin-bottom 35px
    transition max-height .4s
    +below(767px)
        margin-bottom 0

.footerMobileItems
    .footerMenu
        +below(767px)
            height auto
            max-height 1px
            overflow hidden
            transition max-height .4s
        &.active
            +below(767px)
                max-height 999px
                padding-bottom 20px
        &:focus
            outline 0

.footerMenuHeader
    display inline-block
    position relative
    width auto
    min-height 23px
    margin-bottom 26px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    text-decoration none
    transition all .4s
    svg
        display none
        transition all .4s
    +below(767px)
        box horizontal middle space-between
        width 100%
        margin-bottom 10px
        padding-bottom 10px
        svg
            display block
            margin-right 20px
            transform rotate(-90deg)
            size 20px
            stroke #878786
        &:after
            display none
    &.active
        +below(767px)
            color #44c8f5 !important
            svg
                transform rotate(90deg)
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        transition all .4s
        size 100% 2px
    &:hover
        color #44c8f5
        +below(767px)
            color #000
        &:after
            background-color #44c8f5

.footerMenuItem
    position relative
    width 100%
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    &:after
        display block
        position absolute
        top 0
        left -10px
        z-index -1
        opacity 0
        background-color #f0f0f2
        content ''
        transition all .2s
        size 90% 100%
    &:hover
        color #000
        &:after
            opacity 1

.footerSocial
    box horizontal middle left

.footerSocialItem
    margin-right 20px
    size 20px
    svg
        transition all .4s
        size 20px
    &:hover
        svg
            fill #44c8f5
