.blog
    width 100%
    margin-bottom 50px
    padding 0 70px
    +below(768px)
        padding 0 20px

.blogHeader
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal

.blogSubheader
    h2
        margin-bottom 40px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.blogContent
    margin-bottom 25px