.cardText
    box vertical top left
    display block
    position relative
    padding 65px 80px
    background-color #f3f2f3
    size 100%
    +below(768px)
        padding 65px 30px

.cardTextHeader
    flex 0 1 auto
    position relative
    width 100%
    margin-bottom 20px
    span
        display inline-block
        position relative
        padding-bottom 10px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-weight 400
        line-height 30px
        text-transform uppercase
    &:after
        position absolute
        bottom -3px
        left 0
        background #000
        content ''
        size 100% 2px

.cardTextContent
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 28px
