.cardAdvantage
    box vertical top
    display block
    position relative
    padding 41px 37px 25px 37px
    background-color #fff
    size 100%
    +below(600px)
        padding 41px 20px 25px

.cardAdvantageHeader
    flex 0 1 auto
    margin-bottom 50px
    padding-bottom 10px
    border-bottom 2px solid #000
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.cardAdvantageItems
    box vertical top space-between
    flex 1 1 auto
    align-self stretch
    +below(960px)
        box horizontal middle
        flex-wrap wrap

.cardAdvantageItem
    box vertical top center
    &Icon
        margin-bottom 10px
        svg
            size 73px 63px
        +below(600px)
            svg
                size 48px
    &Text
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 300
        line-height 28px
        text-align center
        white-space nowrap
        +below(600px)
            font-size 16px

.cardAdvantageItemFull
    +below(768px)
        width 100%
