.cardCollection
    display block
    position relative
    padding 0 20px 0 40px
    color #000
    text-decoration none
    transition all .4s easeOutBack
    size 100%
    +below(1310px)
        height auto
        padding 20px 0
    +below(768px)
        overflow hidden
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, .48)
    &Yellow
        background-color #f7d15e
    &White
        background-color #fff
    &Grey
        background-color #f0f0f2
    &Blue
        background-color #44c8f5
    &LightGrey
        background-color #f5f5f5
    &Big
        .cardCollectionLeft
            box vertical top left
            padding-top 128px
            +below(768px)
                padding-top 45px
        .cardCollectionDescription
            flex 0 1 auto

.cardCollectionLabel
    display block
    position absolute
    top 19px
    right 22px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.cardCollectionContent
    box horizontal middle
    flex-wrap wrap
    size 100%
    +below(1310px)
        box vertical top

.cardCollectionLeft
    lost-column 1 / 2 2 30px flex
    box vertical top space-between
    padding 45px 0
    align-self stretch
    +below(1310px)
        box vertical top space-between
        width 100%
        padding 0 20px
        order 2

.cardCollectionRight
    lost-column 1 / 2 2 30px flex
    align-self stretch
    +below(1310px)
        width 100%
        margin-bottom 20px

.cardCollectionImage
    box vertical middle center
    size 100%
    +below(1310px)
        box vertical middle center

.cardCollectionHeader
    flex 0 1 auto
    margin-bottom 20px
    span
        display inline-block
        position relative
        color #000
        font-family 'Exo 2', sans-serif
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            position absolute
            bottom -3px
            left 0
            background #000
            content ''
            size 100% 2px

.cardCollectionDescription
    flex 1 1 auto
    margin-bottom 20px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 200
    line-height 22px

.cardCollectionControl
    flex 0 1 auto
    z-index 1000
