.cardProduct
    box horizontal middle
    flex 0 1 auto
    position relative
    padding 0 48px 0 0
    background-color #f3f2f3
    text-decoration none
    transition all .4s easeOutBack
    size 100%
    user-select none
    -webkit-tap-highlight-color transparent
    +below(960px)
        box vertical top
        height auto
        padding 20px 0 40px
    +below(768px)
        overflow hidden
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, .48)
    &:active
        overflow hidden
    &Yellow
        background-color #f7d15e
        .cardProductCartTooltip,
        .cardProductWhishTooltip
            background-color #f5f5f5
            &:after
                border-left-color #f5f5f5
    &White
        background-color #fff
        .cardProductCartTooltip,
        .cardProductWhishTooltip
            background-color #f5f5f5
            &:after
                border-left-color #f5f5f5
    &Grey
        background-color #f0f0f2
    &LightYellow
        background-color #fff59b
        .cardProductCartTooltip,
        .cardProductWhishTooltip
            background-color #f5f5f5
            &:after
                border-left-color #f5f5f5
    &Blue
        background-color #44c8f5
        .cardProductCartTooltip,
        .cardProductWhishTooltip
            background-color #f5f5f5
            &:after
                border-left-color #f5f5f5
    .waves-ripple
        background-color #f5f5f5

.cardProductVertical
    box vertical top center
    padding 55px 48px 55px 27px
    .cardProductContent
        width 100%
        margin-right 0 !important
        padding 40px
    .cardProductImage
        lost-column 1 / 1 flex
    +below(960px)
        box vertical top
        height auto
        padding 20px 0 40px
        .cardProductContent
            width 100%
            padding 0 20px

.cardProductLabel
    display block
    position absolute
    top 19px
    right 22px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.productSelect
    display block
    position absolute
    top 19px
    right 22px

.cardProductImage
    lost-column 1 / 3 flex
    box vertical middle center
    margin-right 33px
    img
        max-width 100%
        object-fit cover
    +below(960px)
        margin-bottom 30px

.cardProductContent
    lost-column 2 / 3 flex
    padding 80px 0
    +below(960px)
        width 100%
        padding 0 20px

.cardProductContentWrap
    box vertical top flex-start

.cardProductHeaderWrap
    box horizontal middle

.cardProductHeader
    position relative
    margin-bottom 26px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        size 100% 2px

.cardProductHeaderNew
    position relative
    margin-bottom 26px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    &:before
        position absolute
        top -4px
        left 0
        background-color #000
        content ''
        size 100% 2px
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        size 100% 2px

.cardProductDescription
    flex 0 1 auto
    width 100%
    margin-bottom 20px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 24px

.cardProductColorsSlider
    box horizontal middle left
    margin -10px 0 0
    padding-bottom 10px

.cardProductColors
    position relative
    width 190px
    // margin-top -10px
    margin 0
    .swiper-slide
        width 26px

.cardProductColor
    display block
    border-radius 50%
    size 26px

.cardProductColorsNext
    box vertical middle center
    display block
    margin-left 10px
    size 20px
    svg
        transition all .4s
        transform rotate(180deg)
        size 14px
    &:hover
        svg
            stroke #000

.cardProductRow
    box horizontal middle left

.cardProductPrice
    margin-right 67px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px
    white-space nowrap
    +below(1100px)
        margin-right 40px
    +below(960px)
        font-size 24px

.cardProductPriceSale
    margin-right 20px
    color lighten(#000, 50%)
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px
    text-decoration line-through
    white-space nowrap
    +below(1100px)
        margin-right 10px
    +below(960px)
        font-size 24px

.cardProductCart
    box vertical middle center
    position relative
    margin-right 28px
    svg
        transition all .4s
        size 24px
        [data-name='filled']
            transition all .2s
            transform scale(0)
            transform-origin center
            fill #44c8f5
    &:hover
        fill #44c8f5
        [data-name='filled']
            transform scale(1)
        .cardProductCartTooltip
            opacity 1
            visibility visible
            transition visibility .4s linear .1s, opacity .4s linear

.cardProductCartTooltip
    position absolute
    top 40px
    right -55px
    // width 180px
    z-index 9000
    opacity 0
    visibility hidden
    padding 14px
    background-color #fff
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 14px
    text-transform uppercase
    transition visibility .001s linear .1s, opacity .4s linear
    white-space nowrap
    &:after
        triangle equilateral pointing-right
        display block
        position absolute
        top -8px
        right 50px
        width 16px
        background-color #fff
        content ''

.cardProductWhish
    box vertical middle center
    position relative
    svg
        overflow visible
        transition all .5s easeOutBack
        size 20px
        [data-name='Layer 1']
            fill #000
        [data-name='Layer 2']
            transition all .5s easeOutBack
            transform scale(0)
            stroke #44c8f5
            fill #44c8f5
            transform-origin center
        &:hover
            [data-name='Layer 1']
                fill #44c8f5
            [data-name='Layer 2']
                transform scale(1)
    &:hover
        .cardProductWhishTooltip
            opacity 1
            visibility visible
            transition visibility .4s linear .1s, opacity .4s linear

.cardProductWhishTooltip
    position absolute
    top 38px
    right -55px
    // width 180px
    z-index 9000
    opacity 0
    visibility hidden
    padding 14px
    background-color #fff
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 14px
    text-transform uppercase
    transition visibility .001s linear .1s, opacity .4s linear
    white-space nowrap
    &:after
        triangle equilateral pointing-right
        display block
        position absolute
        top -8px
        right 50px
        width 16px
        background-color #fff
        content ''