.cardAbout
    box vertical top left
    display block
    position relative
    padding 50px 80px 0
    size 100%
    +below(1024px)
        padding 40px 20px

.cardAboutHeader
    flex 0 1 autn
    margin-bottom 20px
    span
        display inline-block
        position relative
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-weight 400
        line-height 30px
        text-transform uppercase
        +below(768px)
            font-size 18px
            font-weight 400
            line-height 23px
        &:after
            position absolute
            bottom -3px
            left 0
            background #000
            content ''
            size 100% 2px

.cardAboutContent
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 28px
    +below(768px)
        font-style 14px
        line-height 24px