.main
    width 100%
    padding 0 70px
    +below(1060px)
        margin-top -64px
    +below(768px)
        padding 0

.mainGrid
    box vertical top

.mainSection
    box vertical top
    margin-bottom 70px

.mainSectionHeader
    width 100%
    margin-bottom 35px
    border-bottom 2px solid #000000
    h2
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase
    +below(768px)
        width calc(100% - 40px)
        margin-left 20px

.mainSectionContent
    width 100%
    margin-bottom 50px

.mainSectionFooter
    box horizontal middle center
    width 100%
    .buttonBlueMore
        margin-right 16px

.mainRow
    position relative
    height 308px
    lost-flex-container row
    +below(1310px)
        height auto

.mainDoubleRow
    box horizontal top
    position relative
    height 616px
    +below(1310px)
        height auto
    +below(960px)
        box vertical top

.mainCellTwo
    lost-column 2 / 12 2 0 flex
    position relative
    height 100%
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.mainCellThird
    lost-column 1 / 3 3 0 flex
    position relative
    height 100%
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex
        flex 0 1 auto
        height auto

.mainCellSeventh
    lost-column 7 / 12 2 0 flex
    position relative
    margin 0 !important
    align-self stretch
    +below(1240px)
        lost-column 1 / 2 2 0 flex
    +below(960px)
        lost-column 1 / 1 1 0 flex

.mainCellFifth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    align-self stretch
    &Vertical
        box vertical
        .cardProduct
            max-height 308px
            +below(960px)
                max-height 9999px
    +below(1240px)
        lost-column 1 / 2 2 0 flex
    +below(960px)
        lost-column 1 / 1 1 0 flex
