.cabinetBonusBlock
    display block
    position relative
    margin-bottom 15px
    padding 44px 94px
    background-color #f5f5f5
    +below(1000px)
        padding 44px 40px
    +below(768px)
        padding 34px 30px

.cabinetBonusBlockHeader
    h2
        margin-bottom 17px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
        text-transform uppercase

.cabinetBonusBlockContent
    p
        margin-bottom 30px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
        +below(768px)
            margin-bottom 20px

.cabinetBonusTotal
    margin-bottom 25px
    padding 25px 94px
    background-color #44c8f5
    +below(1000px)
        padding 25px 40px
    +below(768px)
        padding 25px 30px

.cabinetBonusTotalContent
    box horizontal middle left
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    svg
        margin-left 8px
        size 16px
        fill #fff

.cabinetBonusHistory
    box horizontal
    flex-wrap wrap

.cabinetBonusHistoryItem
    lost-column 1 / 3 3 100px flex
    box horizontal middle left
    margin-bottom 38px
    +below(768px)
        lost-column 1 / 3 3 30px flex
    +below(600px)
        lost-column 1 / 1 1 flex
    &Order
        width 230px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
    &Count
        box horizontal middle
        width 50px
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
        white-space nowrap
        svg
            margin-left 8px
            size 16px
            fill #49c9f4