.cabinetBuy
    margin-bottom 30px

.cabinetBuyRow
    box horizontal top
    +below(700px)
        box vertical top

.cabinetBuyRowColumn
    lost-column 1 / 2 0 0 flex
    +below(700px)
        lost-column 1 / 1 0 0 flex