.cabinet
    box horizontal top
    width 100%
    margin-bottom 50px
    padding 0 70px
    +below(1200px)
        box vertical top left
    +below(768px)
        padding 0 20px

.cabinetSidebar
    lost-column 2 / 12 flex
    box vertical top
    min-width 200px
    +below(1200px)
        margin-bottom 30px

.cabinetMain
    lost-column 10 / 12 flex
    +below(1200px)
        lost-column 1 / 1 flex

.cabinetBack
    box horizontal middle
    display inline-flex !important
    margin-bottom 30px
    text-decoration none
    span
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
        transition all .4s
    svg
        margin-right 15px
        margin-left -8px
        transition all .4s
        size 28px
    &:hover
        span
            color #44c8f5
        svg
            fill #44c8f5

.cabinetHeader
    box horizontal middle space-between
    width 100%
    margin-bottom 10px
    border-bottom 2px solid #000000
    +below(600px)
        box vertical top left
    h1
        color #000
        font-family 'Exo 2', sans-serif
        font-size 24px
        font-style normal
        font-weight 400
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.cabinetSubheader
    margin-bottom 16px
    h3
        color #000
        font-family 'Exo 2', sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase

.cabinetHeaderStatus
    display block
    height 36px
    padding 0 40px
    color #FFF
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 36px
    text-decoration none
    &Black
        background-color #000
    &Grey
        background-color #90908f