.cabinetOrder
    display block
    position relative
    margin-bottom 40px
    padding 44px 94px
    background-color #f5f5f5
    +below(1000px)
        padding 44px 40px
    +below(768px)
        padding 44px 30px

.cabinetOrderTable
    margin-bottom 29px
    table
        width 100%
        td
            padding-bottom 10px
            color #000
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-size 16px
            font-weight 400
            line-height 22px
            +below(600px)
                vertical-align top
            &:first-child
                padding-right 20px
                color #90908f

.cabinetOrderControl
    box horizontal middle
    +below(767px)
        box vertical top
    a
        margin-right 10px

.cabinetOrderNext
    box vertical middle center
    width 100%
    height 100px
    padding 0 30px
    background-color #f5f5f5
    text-decoration none
    +below(600px)
        text-align center
    span
        margin-bottom 10px
        color #000
        font-family 'Exo 2', sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
        transition all .4s
    svg
        transition all .4s
        transform rotate(-90deg)
        fill #000
        size 20px
    &:hover
        span
            color #44c8f5
        svg
            fill #44c8f5
