.cabinetProfile
    margin-bottom 80px
    padding-top 60px

.cabinetProfileForm
    box horizontal top
    margin-bottom 65px
    +below(600px)
        box vertical top

.cabinetProfileFormColumn
    width 500px
    +below(600px)
        width 100%

.cabinetProfileFormItem
    width 70%
    min-width 250px
    // box horizontal middle
    margin-bottom 40px
    &Button
        box horizontal middle
        button
            margin-right 20px

.cabinetProfileFormPassword
    width 70%
    min-width 250px
    margin-bottom 40px

.cabinetProfileFormPasswordIsNew
    .cabinetProfileFormCurrentPassword
        height 0
        opacity 0
        visibility hidden
    .cabinetProfileFormNewPassword
        height auto
        opacity 1
        visibility visible

.cabinetProfileFormCurrentPassword
    height auto

.cabinetProfileFormNewPassword
    height 0
    opacity 0
    visibility hidden
    animation-name fadeIn
    animation-duration .3s
    animation-direction normal
    .uiTextInputGroup
        margin-bottom 40px

.cabinetProfileSubscribtion
    display block
    margin-bottom 40px

.cabinetProfileSubscribtionHeader
    margin-bottom 28px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase

.cabinetProfileSubscribtionItem
    display block
    margin-bottom 20px
