.cabinetSidebarAvatar
    position relative
    margin-bottom 25px
    text-align center
    svg
        size 90px
    &:hover
        .cabinetSidebarAvatarButton
            opacity 1
            visibility visible

.cabinetSidebarAvatarButton
    box horizontal middle center
    position absolute
    bottom 0
    left center
    opacity 0
    visibility hidden
    padding 0 10px
    background-color #44c8f5
    cursor pointer
    transition all .4s
    size 135px 29px
    svg
        margin-right 8px
        size 20px
        fill #fff
    span
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 200
        line-height 22px

.cabinetSidebarName
    margin-bottom 15px
    color #000
    font-family 'Exo 2', sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.cabinetSidebarMenu
    box vertical top left

.cabinetSidebarMenuItem
    box horizontal middle left
    position relative
    width 100%
    text-decoration none
    &:after
        display block
        position absolute
        top 0
        left -10px
        z-index -1
        opacity 0
        background-color #f0f0f2
        content ''
        transition all .2s
        size calc(100% + 20px) 100%
    &:hover
        color #000
        &:after
            opacity 1

.cabinetSidebarMenuItemSpacer
    min-height 34px

.cabinetSidebarMenuItemIcon
    margin-right 14px
    svg
        size 16px
    .icon-bonus
        fill #49c9f4

.cabinetSidebarMenuItemText
    color #90908f
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 34px
    white-space nowrap