.buttonBlueSmall
    display block
    position relative
    height 24px
    padding 1px 15px 0
    background-color #44c8f5
    border 0
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400
    line-height 24px
    text-transform uppercase
    outline 0
    white-space nowrap
    &:hover
        background-color #87dbff
        color #fff

.buttonBlue
    display inline-block
    position relative
    height 41px
    min-height 41px
    overflow hidden
    padding 1px 31px 0
    background-color #44c8f5
    border 0
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 41px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    user-select none
    -webkit-tap-highlight-color transparent
    white-space nowrap
    &:hover
        background-color #87dbff
        color #fff
    .waves-ripple
        background rgba(#44c8f5, 1)

.buttonTextWhite
    color #fff

.buttonBlueMedium
    display inline-block
    position relative
    height 45px
    min-height 45px
    overflow hidden
    padding 1px 37px 0
    background-color #44c8f5
    border 0
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 45px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    user-select none
    -webkit-tap-highlight-color transparent
    white-space nowrap
    &:hover
        background-color #87dbff
        color #fff
    .waves-ripple
        background rgba(#44c8f5, 1)

.buttonBlueMore
    position relative
    width 60px
    height 60px
    overflow hidden
    background-color #44c8f5
    border 0
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 40px
    font-weight 200
    line-height 60px
    // padding 1px 28px 0
    text-align center
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    user-select none
    -webkit-tap-highlight-color transparent
    white-space nowrap
    .waves-ripple
        background rgba(#44c8f5, 1)
    &:hover
        background-color #87dbff
        color #fff
