.buttonGrey
    position relative
    height 45px
    min-height 45px
    overflow hidden
    padding 1px 37px 0
    background-color #f0f0f2
    border 0
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 45px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    user-select none
    -webkit-tap-highlight-color transparent
    white-space nowrap
    &:hover
        background-color #87dbff
        color #fff
    .waves-ripple
        background rgba(#44c8f5, 1)

.buttonDarkGrey
    display inline-block
    position relative
    height 40px
    overflow hidden
    padding 1px 28px 0
    background-color #90908f
    border 0
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 40px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    user-select none
    -webkit-tap-highlight-color transparent
    white-space nowrap
    &:hover
        background-color #87dbff
        color #fff

.buttonGreyLarge
    position relative
    height 60px
    overflow hidden
    padding 1px 55px 0
    background-color #f0f0f2
    border 0
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 60px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    user-select none
    -webkit-tap-highlight-color transparent
    white-space nowrap
    &:hover
        background-color #87dbff
        color #fff
    .waves-ripple
        background rgba(#44c8f5, 1)