.buttonUp
    box vertical middle center
    display block
    position absolute
    top 0
    right 20px
    z-index 100
    background-color #44c8f5
    transform rotate(90deg)
    size 40px
    svg
        fill #fff
        size 20px