[type='checkbox']:not(:checked),
[type='checkbox']:checked
    position absolute
    left -9999px

[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label
    position relative
    padding-top 4px
    padding-left 32px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    cursor pointer
    transition all .4s
    &:hover
        color #44c8f5

[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before
    position absolute
    top 0
    left 0
    content ''
    border 2px solid #44c8f5
    border-radius 2px
    transition all .4s
    size 18px

[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after
    position absolute
    top 2px
    left 2px
    background-color #44c8f5
    background-image inline('icon-checkbox.svg')
    background-size 18px
    background-repeat no-repeat
    content ''
    color #09ad7e
    transition all .2s
    size 18px

[type='checkbox']:not(:checked)
    & + label
        &:after
            opacity 0
            transform scale(0)

[type='checkbox']:checked
    & + label
        &:after
            opacity 1
            transform scale(1)

[type='checkbox']:disabled:not(:checked) + label:before,
[type='checkbox']:disabled:checked + label:before
    background-color #ddd
    border-color #bbb
    box-shadow none

[type='checkbox']:disabled
    &:checked
        & + label
            &:after
                color #999
    & + label
        color #aaa
