.waves-ripple
    position absolute
    width 100px
    height 100px
    opacity 0
    margin-top -50px
    margin-left -50px
    pointer-events none
    border-radius 50%
    transition all .75s ease-out
    transform scale(0) translate(0, 0)
    transition-property transform, opacity
