.filter
    .filterItems
        .filterItem
            .filterItemText
                span Тип кожи
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
        .filterItem
            .filterItemText
                span Возраст
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
        .filterItem
            .filterItemText
                span Эффект
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
        .filterItem.filterItemIcon
            .filterItemText
                span Зона использования
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown.filterItemDropdownIcons
                a(href="#").filterItemDropdownItemIcon.filterItemDropdownItemIconActive
                    +svgIcon('icon-catalog-1')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-2')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-3')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-4')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-5')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-6')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-7')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-8')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-9')
                    span Для тела

        .filterItem
            .filterItemText
                span Время суток
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
        .filterItem
            .filterItemText
                span Время суток
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
        .filterItem
            .filterItemText
                span Активные вещества
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
        .filterItem
            .filterItemText
                span Коллекции
                .svg
                    +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
    .filterSelected
        .filterSelectedItem
            | Для волос
        .filterSelectedItem
            | Гиалуроновая коллекция
        .filterSelectedClear
            +svgIcon('icon-close')
            span Сбросить

.filterMobileButton
    button.buttonBlueMedium(data-modal="#modal_filter") Фильтр

.modal#modal_filter
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
         button.buttonBlueMedium Сохранить

    .filterItems
        a(data-collapse href="#filtermenu-1").filterMenuHeader
            | Тип кожи
            +svgIcon('icon-arrow')
        .filterMenu#filtermenu-1
            a(href="#").filterMenuItem.active Уход за кожей лица
            a(href="#").filterMenuItem Уход за губами
            a(href="#").filterMenuItem Уход за кожей вокруг глаз
        a(data-collapse href="#filtermenu-2").filterMenuHeader
            | Возраст
            +svgIcon('icon-arrow')
        .filterMenu#filtermenu-2
            a(href="#").filterMenuItem.active Уход за кожей лица
            a(href="#").filterMenuItem Уход за губами
            a(href="#").filterMenuItem Уход за кожей вокруг глаз
        a(data-collapse href="#filtermenu-3").filterMenuHeader
            | Эффект
            +svgIcon('icon-arrow')
        .filterMenu#filtermenu-3
            a(href="#").filterMenuItem.active Уход за кожей лица
            a(href="#").filterMenuItem Уход за губами
            a(href="#").filterMenuItem Уход за кожей вокруг глаз
        a(data-collapse href="#filtermenu-4").filterMenuHeader
            | Время суток
            +svgIcon('icon-arrow')
        .filterMenu#filtermenu-4
            a(href="#").filterMenuItem.active Уход за кожей лица
            a(href="#").filterMenuItem Уход за губами
            a(href="#").filterMenuItem Уход за кожей вокруг глаз
        a(data-collapse href="#filtermenu-5").filterMenuHeader
            | коллекции
            +svgIcon('icon-arrow')
        .filterMenu#filtermenu-5
            a(href="#").filterMenuItem.active Уход за кожей лица
            a(href="#").filterMenuItem Уход за губами
            a(href="#").filterMenuItem Уход за кожей вокруг глаз


    .filterSelected
        .filterSelectedItem
            | Для волос
        .filterSelectedItem
            | Гиалуроновая коллекция
        .filterSelectedClear
            +svgIcon('icon-close')
            span Сбросить