.footerMobile
    .buttonUp
        +svgIcon('icon-arrow')
    .footerColumn
        .footerLogo
            +svgIcon('logo')
        .footerMenu
            a(href="#").footerMenuItem О компании
            a(href="#").footerMenuItem Где купить
            a(href="#").footerMenuItem Оплата и доставка
            a(href="#").footerMenuItem Секреты красоты
            a(href="#").footerMenuItem Диагностика
            a(href="#").footerMenuItem Календарь событий
            a(href="#").footerMenuItem Контакты
            a(href="#").footerMenuItem Личный кабинет
            a(href="#").footerMenuItem Новинки
            a(href="#").footerMenuItem Акции

    .footerMobileItems
        a(data-collapse href="#footermenu-1").footerMenuHeader
            | Лицо
            +svgIcon('icon-arrow')
        .footerMenu#footermenu-1
            a(href="#").footerMenuItem Уход за кожей лица
            a(href="#").footerMenuItem Уход за губами
            a(href="#").footerMenuItem Уход за кожей вокруг глаз

        a(data-collapse href="#footermenu-2").footerMenuHeader
            | Тело
            +svgIcon('icon-arrow')
        .footerMenu#footermenu-2
            a(href="#").footerMenuItem Уход за телом
            a(href="#").footerMenuItem Уход за руками
            a(href="#").footerMenuItem Уход за кожей ног

        a(data-collapse href="#footermenu-3").footerMenuHeader
            | Волосы
            +svgIcon('icon-arrow')
        .footerMenu#footermenu-3
            a(href="#").footerMenuItem Уход за волосами

        a(data-collapse href="#footermenu-4").footerMenuHeader
            | Вся продукция
            +svgIcon('icon-arrow')
        .footerMenu#footermenu-4
            a(href="#").footerMenuItem Антиперспиранты
            a(href="#").footerMenuItem БАД
            a(href="#").footerMenuItem Бальзам для губ
            a(href="#").footerMenuItem Бальзам для волос
            a(href="#").footerMenuItem ВВ крем
            a(href="#").footerMenuItem Гель для душа
            a(href="#").footerMenuItem Крем для лица
            a(href="#").footerMenuItem Крем для области вокруг глаз
            a(href="#").footerMenuItem Маска для лица
            a(href="#").footerMenuItem Миценлярная вода
            a(href="#").footerMenuItem Крем для рук
            a(href="#").footerMenuItem Крем для ног
            a(href="#").footerMenuItem Крем для области вокруг глаз
            a(href="#").footerMenuItem Маска для лица
            a(href="#").footerMenuItem Мицелярная вода
            a(href="#").footerMenuItem Салфетка-автозагар
            a(href="#").footerMenuItem Средство для снятия макияжа

        a(data-collapse href="#footermenu-5").footerMenuHeader
            | Коллекции
            +svgIcon('icon-arrow')
        .footerMenu#footermenu-5
            a(href="#").footerMenuItem Аевит
            a(href="#").footerMenuItem Гиалуроновая
            a(href="#").footerMenuItem Витамин Е
            a(href="#").footerMenuItem Витамин F
            a(href="#").footerMenuItem Коллаген
            a(href="#").footerMenuItem Пантенол
            a(href="#").footerMenuItem Стволовые клетки винограда
            a(href="#").footerMenuItem Травяная
            a(href="#").footerMenuItem Мицеклин
            a(href="#").footerMenuItem 3D Филлер

    .footerSocial
        a(href="#").footerSocialItem
            +svgIcon('icon-vk')
        a(href="#").footerSocialItem
            +svgIcon('icon-ok')
        a(href="#").footerSocialItem
            +svgIcon('icon-yt')
        a(href="#").footerSocialItem
            +svgIcon('icon-ig')
        a(href="#").footerSocialItem
            +svgIcon('icon-fb')
.footerCopyright.footerCopyrightMobile
    |  © 2006-2017 Libraderm Все права защищены