.mobileMenuContainer
    .mobileMenuClose
        +svgIcon('icon-close')
    .mobileMenuLogins
        .headerTopAccount
            .headerTopLogin(data-modal="#modal_login")
                +svgIcon('ic_person_18px')
                .headerTopLoginText
                    | Вход
            ||
            .headerTopRegistation
                .headerTopRegistationText
                    | Регистрация
    .mobileMenuCarts
        .headerCarts
            .headerWishListIcon
                include ../../svg/icon-wishlist.svg
                .headerWishListCount
                    | 4
            .headerCart
                .headerCartIcon
                    +svgIcon('icon-cart')
                    .headerCartCount
                        | 5
                .headerCartTotal
                    span На сумму
                    | 1500
                    .ruble г

    .mobileMenuSearch
        .mobileMenuSearchInput
            input(type="text" placeholder="Поиск...")
        .mobileMenuSearchButton
            button.buttonSearch
                +svgIcon('icon-search')
    .mobileMenuWrap
        .mobileMenuItems
            a(data-collapse href="#mobilemenu-4").mobileMenuItemHeader
                | Вся продукция
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-4
                a(href="#").mobileMenuItem Антиперспиранты
                a(href="#").mobileMenuItem БАД
                a(href="#").mobileMenuItem Бальзам для губ
                a(href="#").mobileMenuItem Бальзам для волос
                a(href="#").mobileMenuItem ВВ крем
                a(href="#").mobileMenuItem Гель для душа
                a(href="#").mobileMenuItem Крем для лица
                a(href="#").mobileMenuItem Крем для области вокруг глаз
                a(href="#").mobileMenuItem Маска для лица
                a(href="#").mobileMenuItem Миценлярная вода
                a(href="#").mobileMenuItem Крем для рук
                a(href="#").mobileMenuItem Крем для ног
                a(href="#").mobileMenuItem Крем для области вокруг глаз
                a(href="#").mobileMenuItem Маска для лица
                a(href="#").mobileMenuItem Мицелярная вода
                a(href="#").mobileMenuItem Салфетка-автозагар
                a(href="#").mobileMenuItem Средство для снятия макияжа
            a(data-collapse href="#mobilemenu-1").mobileMenuItemHeader
                | Лицо
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-1
                a(href="#").mobileMenuItem Уход за кожей лица
                a(href="#").mobileMenuItem Уход за губами
                a(href="#").mobileMenuItem Уход за кожей вокруг глаз

            a(data-collapse href="#mobilemenu-2").mobileMenuItemHeader
                | Тело
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-2
                a(href="#").mobileMenuItem Уход за телом
                a(href="#").mobileMenuItem Уход за руками
                a(href="#").mobileMenuItem Уход за кожей ног

            a(data-collapse href="#mobilemenu-3").mobileMenuItemHeader
                | Волосы
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-3
                a(href="#").mobileMenuItem Уход за волосами

            a(data-collapse href="#mobilemenu-5").mobileMenuItemHeader
                | Коллекции
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-5
                a(href="#").mobileMenuItem Аевит
                a(href="#").mobileMenuItem Гиалуроновая
                a(href="#").mobileMenuItem Витамин Е
                a(href="#").mobileMenuItem Витамин F
                a(href="#").mobileMenuItem Коллаген
                a(href="#").mobileMenuItem Пантенол
                a(href="#").mobileMenuItem Стволовые клетки винограда
                a(href="#").mobileMenuItem Травяная
                a(href="#").mobileMenuItem Мицеклин
                a(href="#").mobileMenuItem 3D Филлер
            a(data-collapse href="#mobilemenu-6").mobileMenuItemHeader
                | Новинки
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-6
                a(href="#").mobileMenuItem Аевит
                a(href="#").mobileMenuItem Гиалуроновая
                a(href="#").mobileMenuItem Витамин Е
                a(href="#").mobileMenuItem Витамин F
                a(href="#").mobileMenuItem Коллаген
                a(href="#").mobileMenuItem Пантенол
                a(href="#").mobileMenuItem Стволовые клетки винограда
                a(href="#").mobileMenuItem Травяная
                a(href="#").mobileMenuItem Мицеклин
                a(href="#").mobileMenuItem 3D Филлер
            a(data-collapse href="#mobilemenu-7").mobileMenuItemHeader
                | Акции
                +svgIcon('icon-arrow')
            .mobileMenu.collapse#mobilemenu-7
                a(href="#").mobileMenuItem Аевит
                a(href="#").mobileMenuItem Гиалуроновая
                a(href="#").mobileMenuItem Витамин Е
                a(href="#").mobileMenuItem Витамин F
                a(href="#").mobileMenuItem Коллаген
                a(href="#").mobileMenuItem Пантенол
                a(href="#").mobileMenuItem Стволовые клетки винограда
                a(href="#").mobileMenuItem Травяная
                a(href="#").mobileMenuItem Мицеклин
                a(href="#").mobileMenuItem 3D Филлер
        .mobileMenu
            a(href="#").footerMenuItem О компании
            a(href="#").footerMenuItem Где купить
            a(href="#").footerMenuItem Оплата и доставка
            a(href="#").footerMenuItem Секреты красоты
            a(href="#").footerMenuItem Диагностика
            a(href="#").footerMenuItem Календарь событий
            a(href="#").footerMenuItem Контакты
            a(href="#").footerMenuItem Личный кабинет
            a(href="#").footerMenuItem Новинки
            a(href="#").footerMenuItem Акции
    .mobileMenuBlock
        .headerTopWork
            | Работаем по всей России. Бесплатная доставка от 3000 руб.
        .headerTopPhone
            .headerTopPhoneLink
                a(href="tel: +7 (800) 234-82-28") +7 (800) 234-82-28
            .headerTopPhoneButton
                button.buttonBlueSmall
                    paper-ripple
                    | Заказать звонок
        .headerTopSocial
            a(href="#")
                +svgIcon('icon-vk')
            a(href="#")
                +svgIcon('icon-ok')
            a(href="#")
                +svgIcon('icon-yt')
            a(href="#")
                +svgIcon('icon-ig')
            a(href="#")
                +svgIcon('icon-fb')